[2022-06-13 21:36] ericwang401 opened #15 "Vite dev server exits without message (fix in report)"
- Laravel Vite Plugin Version: 0.1.3
- Laravel Version: 9.17.0
- Node Version: 18.3.0
- NPM Version: 8.11.0

### Description:

When running the Vite dev server using `npm run dev`, the development server starts up with
[code]
But closes unexpectedly a second after running the command with no messages or error messages whatsoever.

I did some debugging and commented out `process.exit();` in
[code]

[2022-06-14 01:31] jessarcher commented on #15
I'm not able to replicate this on Fedora 36 (and I don't have a custom `sysctl.conf`), but I have run into similar inotify issues in the past with Mix on large projects.

I'm wondering whether we can make this _less_ silent so people have something to search for if it happens.

[2022-06-14 02:17] ericwang401 commented on #15
Oh okay! Is there also a separate package for these directives to work?
[code]

I don't think Laravel is converting these directives to HTML when I went to the page with those directives.
I'm also using Docker (in the repo), and I'm not sure if that conflicts as well.

[2022-06-14 02:29] jessarcher commented on #15
Those are part of this framework PR https://github.com/laravel/framework/pull/42785 that we'll be merging and releasing soon.

You can test it out now by running `composer require laravel/framework:"dev-vite as 9.11"`. You may need to `php artisan view:clear` if you've already tried to use the directives in your project.

The Vite integration isn't officially launched yet. We needed to publish the

[2022-06-15 01:25] jessarcher commented on #15
Hi @ericwang401,

#17 should improve the exit and signal handling so that uncaught exceptions (including your file watcher issue) are output to the console, while still cleaning the `public/hot` file.

I've verified this by using the command you mentioned above to set the watchers to `5` so that it always fails.

[2022-06-15 02:10] ericwang401 commented on #15
Hey, thank you for the update! I will create a new issue if a problem like this happens again in the future.

Thanks again!

[2022-06-15 02:11] #15 closed

[2022-06-16 16:51] VicGUTT opened #19 "[Windows]: Possible entrypoint path mismatch between the manisfest.json and Illuminate/Foundation/Vite.php"
- Laravel Vite Plugin Version: **v0.2.1** _(latest)_
- Laravel Version: **v9.17.0** _(after a `composer create-project laravel/laravel:dev-vite`)_
- Node Version: **v16.13.1**
- NPM Version: **v8.3.0**

### Description:
An [`Unable to locate file in Vite manifest: {$entrypoint}`](https://github.com/laravel/framework/blob/013ec2768a42c92af9a6946ff8bdd19a427b4968/src/Illuminate/Foundation/Vite.php#L

[2022-06-17 03:22] jessarcher commented on #19
Hey @VicGUTT,

Thanks for reporting this and for your proposed solutions!

I *think* the right approach would be to wrap the path in Vite's [normalizePath](https://vitejs.dev/guide/api-plugin.html#path-normalization) helper:

[code]

I'll give this a try this afternoon.

[2022-06-17 04:30] #19 closed

[2022-06-17 07:30] VicGUTT commented on #19
@jessarcher, nice, thanks for the fix ! 👌

Small concern, while I'm totally fine with the status quo, the PHP side may still throw the exception if entrypoints are provided to the directive using Windows separators:

[code]

Although I don't think anyone would do this, I believe the framework should still handle the rare cases the situation would arise as to not burden users about thinking about i

[2022-06-20 02:16] timacdonald commented on #19
IMO I don't think we should cater for this. Similar to how mix doesn't support this syntax. When we are in blade etc, we are in web world and should always use forward slashes.

[2022-06-21 04:37] hailwood opened #23 "url stored in hot file does not follow vite conventions"
- Laravel Vite Plugin Version: 0.2.2
- Laravel Version: 9.17.0
- Node Version: 18.0.0
- NPM Version: 8.6.0

### Description:
Right now we store the server IP in the hot file, either the IPV4 or the IPV6 variation.
This causes issues when using a self signed localhost valid certificate as we're telling the server to always load from 127.0.0.1.

Vite has [a resolveHostname method we should probably

[2022-06-22 02:07] jessarcher commented on #23
@hailwood That makes sense, I will have a look at this.

[2022-06-22 04:35] hailwood opened #24 "Hot file should be stored in build directory"
- Laravel Vite Plugin Version: 0.2.2
- Laravel Version: 9.17.0
- Node Version: 18.0.0
- NPM Version: 8.6.0

### Description:
Right now we're storing the hot file directory in the public directory.
What this means is that if we have multiple devservers running they're going to fight over that hot file.

Instead I'm thinking we should probably be joining the build directory onto the path,
this would

[2022-06-22 05:56] hailwood commented on #23
@jessarcher I'll continue discussion directly on the PR :)

[2022-06-22 06:22] jessarcher commented on #24
Was this also an issue with Mix? I can see the value in customising the hot file location, but I'd prefer to keep the default location as-is.

[2022-06-22 06:32] hailwood commented on #24
Yes it was an issue with Mix as well,
Until vite I actually switched to encore instead of mix specifically for this issue.

If you'd like to keep the default location what about only doing that logic if the build directory is not `'build'`?
That would keep the default as is but move it if they've said it's customized?

[2022-06-23 06:04] timacdonald commented on #24
Putting the hot file in the build directory by default is interesting as it would mean that the file would never end up in git if for whatever reason node doesn't clean the file up.

[2022-06-23 06:05] timacdonald commented on #24
It would also be cleared out when a build occurs, so you wouldn't end up with a "hot" file in your built assets (as Vite always clears it out)

[2022-06-23 15:26] #23 closed

[2022-06-23 15:26] driesvints commented on #23
Closing as a PR was opened.

[2022-06-23 15:27] driesvints commented on #24
@hailwood thoughts on the above? ^

[2022-06-24 00:28] hailwood commented on #24
I agree with everything @timacdonald has said.
Those benefits combined with it allowing us to run multiple dev servers simultaneously more than sell it 👍

[2022-06-24 02:20] jessarcher commented on #24
I'm a bit worried about putting it in the `build` directory because:
1. If someone wants to commit their assets and removes the gitignore for this directory, there's a chance they might blindly `git add --all` while the dev server is running and then deploy the hot file which would confusingly break production. It may even _appear_ to work for the developer if they're still running the dev server

[2022-06-24 03:31] timacdonald commented on #24
@hailwood: @jessarcher and I have been chatting about this a lot. I think that for now we don't want to add support for what may be a unique use-case within the community when we aren't sure there is a big need for this. We will of course consider it further if we get enough of the community wanting the feature.

Luckily, the Laravel plugin is not massive, and you can override the bits you need.

[2022-06-24 03:31] #24 closed

[2022-06-24 03:57] hailwood commented on #24
@timacdonald / @jessarcher happy with that,
Appreciate your time on the issues I'm raising too :)

[2022-06-24 18:23] bakerkretzmar opened #27 "Dev server ping fails with secured Valet site"
- Laravel Vite Plugin Version: 0.2.3
- Laravel Version: 9.x-dev 4d46bda
- Node Version: 16.15.0
- NPM Version: 8.5.5
- Chrome Version: 102.0.5005.115
- Firefox Version: 101.0.1
- Laravel Valet Version: 3.1.7
- macOS Version: 12.3.1 (M1)

### Description:

When serving a local development site, e.g. `valet-vite.test`, using Valet, after the site is secured with HTTPS using `valet secure` the connec

[2022-06-24 21:38] eminos commented on #27
This is probably not Valet related. I have the same issue serving the local dev site with Lando (Docker).

[2022-06-25 14:36] shoeyn opened #28 "Windows - Failed to load when loading vite dev server resources"
- Laravel Vite Plugin Version: 0.2.3
- Laravel Version: 9.x-dev (to include vite changes)
- Node Version: 16.14.0
- NPM Version: 8.4.1

### Description:
In Windows, when loading the resources from Vite it fails to load as 0.0.0.0 is an invalid address in Windows and doesn't get rerouted to 127.0.0.1
Chrome's output: Failed to load resource: net::ERR_ADDRESS_INVALID 0.0.0.0:5173/@vite/client:1
Manu

[2022-06-25 21:40] innocenzi commented on #27
This is only an issue with Vite 2.x, the ping works differently in Vite 3.x which will be released in the upcoming days/weeks (see https://github.com/vitejs/vite/pull/6819). I'm not even sure if this is fixable on our side because the [ping uses the `base` URL](https://github.com/vitejs/vite/blob/v2.9.12/packages/vite/src/client/client.ts#L214), which must be `/`.

[2022-06-25 23:47] bakerkretzmar commented on #27
That's good to know 👍🏻 I think the socket connection is also failing initially, which is a bigger problem right? It must have something to do with using HTTPS locally but I'm not sure if the fix would be something in Vite, this plugin, Valet, or somewhere else.

[2022-06-26 01:06] innocenzi commented on #27
Yes, you're getting the ping loop because Vite couldn't connect in the first place - I think the Vite plugin should do that automatically, but for now maybe try configuring `server.https` yourself?

I'll try that tomorrow, I don't recall what needs to be setup on the top of my head

[2022-06-26 04:57] jessarcher commented on #28
Thanks for reporting this, @shoeyn.

When running inside Sail, the plugin tells Vite to listen on all IPv4 addresses (`0.0.0.0`) inside the container so that the Vite dev server can be accessed from outside the container. This has the side effect of making it harder to determine a "real" address to put in the hot file, because Vite is listening on multiple addresses (`localhost` and whatever rando

[2022-06-26 05:02] jessarcher commented on #27
Thanks for reporting this, @bakerkretzmar.

The `__vite_ping` issue is known and will be fixed in Vite 3 as mentioned by @innocenzi.

I don't have a Mac (and therefore Valet) to reproduce the socket issue, but I'll check it out with @timacdonald's help tomorrow.

[2022-06-26 12:55] innocenzi commented on #27
Hey, so I just tried and at least the following `server` configuration is needed for `https` to work and the websocket to connect:

[code]

The `host` is necessary because otherwise the websocket will try to connect using `location.hostname`.

@jessarcher I think the `hmr` host should always be set, and `https` should be auto-determined depending on `APP_URL`, like `vite-plugin-laravel` does.

I h

[2022-06-26 20:57] bakerkretzmar commented on #27
@innocenzi thanks a ton, I'll add that config! It sounds like that wouldn't be super hard to figure out and configure automatically inside this plugin, hopefully that can be added 👍🏻

[2022-06-26 22:44] hailwood commented on #27
@jessarcher

Just pointing out here that this isn't valet specific, it's anything that allows you to have a valid https local dev setup.
If you're going to work on this (which I'd totally get if we just skip it until Vite3 and maybe pin this issue instead) I'd suggest [checking out Lando](https://docs.lando.dev/laravel/getting-started.html) as that runs on Windows, Linux, and Mac and takes about 5

[2022-06-27 03:03] jessarcher commented on #27
I agree that setting `server.https` to true makes sense when the `APP_URL` starts with `https:`. This works around the Vite client [defaulting to `wss` when visiting a `https` site](https://github.com/vitejs/vite/blob/v2.9.12/packages/vite/src/client/client.ts#L19-L20).

It's also possible to force the Vite client to connect over `ws` by setting `server.hmr.protocol`, however browsers understandab

[2022-06-27 03:13] hailwood commented on #27
You are absolutely correct it's more complicated than it first seems.
Our personal setup is using lando so the SSL cert is actually valid (*.lndo.site is a real domain registered that points to 127.0.0.1) and we use mkcert to generate our localhost valid certificate and pass that through to vite instead of letting it generate its own.

I was considering whether we could setup vite to proxy through

[2022-06-27 04:24] jessarcher commented on #27
This is what I'm leaning towards as well. I still think it's worth setting `server.https` when `APP_URL` starts with `https:` so at least all the developer needs to do is get the certificate accepted.

We could also consider adding some output to the console when this is set, with a link to the vite dev server URL so they can easily click it and accept the certificate.

[2022-06-27 05:20] timacdonald commented on #27
I don't think we should detect this from the `APP_URL`. The `APP_URL` is not directly related to the URL that the site is being viewed at. I could not touch the APP_URL and...

[code]

None of these are related in anyway to the APP_URL, so I don't think auto-detecting is a good idea.

The APP_URL may be https and the site may not be and vice-versa.

[2022-06-27 06:05] jessarcher commented on #28
Hi @shoeyn,

As a first step, I have created https://github.com/laravel/vite-plugin/pull/30 that will allow you to customise the `server.host` value when running inside Sail.

As noted above, you won't be able to just set it to `localhost` because then the Vite server will only listen on `localhost` *inside* the container.

You would need to configure it in your `vite.config.js` something like thi

[2022-06-27 06:22] jessarcher commented on #27
That's a good point @timacdonald.

Also, if no one provides a `server.host` setting, the hot file will get `https://127.0.0.1:3000` (auto-detected from the Vite dev server) while the Vite client will auto-detect `wss://valet-vite.test:3000` from the browser, meaning that the user would need to accept *two* certificates, in addition to the one they already have to accept at `https://valet-vite.test

[2022-06-27 06:47] jessarcher commented on #27
This has been added to the docs PR at https://github.com/laravel/docs/pull/7984/commits/168786d84d7aba43ea7785ecaa5a7f1748d2740d

Going to close this issue for now. Thanks again for all your help everyone!

[2022-06-27 06:47] #27 closed

[2022-06-27 06:57] jessarcher commented on #28
I'm going to close this for now and we'll get that change out in the next release. If you have other suggestions or are still having trouble please feel free to re-open the issue.

[2022-06-27 08:10] innocenzi commented on #27
@timacdonald I still think `APP_URL` is a good heuristic - it should correspond to most defaults, and one can override the `server` configuration anyway.

I can confirm we still need to accept the certificate, but we indeed need to do that only once. Laravel Vite auto-detects Valet and Laragon certificates and uses them, which lowers the configuration needed by the user to get `https` working.

I

[2022-06-27 13:55] bakerkretzmar commented on #27
@jessarcher thanks a lot! Glad this is documented now, and I think accepting the additional certificate is a good workaround.

I still think it makes sense to use `APP_URL` to do even more automatically when possible. This won't cover absolutely every use case, but I think it actually is—usually—directly related to the URL that the site is being viewed at.

[2022-06-28 00:07] timacdonald commented on #27
I'm not shutting down the idea at all, just sharing a perspective. Will chat to Jess more about it and maybe have a play with the idea a bit more.

Thanks for all the discussion folks ❤️

[2022-06-28 20:19] anburocky3 opened #32 "Typescript not working inside `laravel()`"
- Laravel Vite Plugin Version: ^0.2.3
- Laravel Version: v9.9.0

[code]

While entering `npm run dev --host`

[code]

But when i access the `http://localhost:3000/` nothing displays.

![image](https://user-images.githubusercontent.com/15264938/176277457-f4d5efaa-1817-4115-b3d2-5591c59cde37.png)

[2022-06-28 20:30] jorqensen opened #33 "Building an empty CSS file generates JS file and bugged manifest"
- Laravel Vite Plugin Version: 0.2.1
- Laravel Version: 9.19.0
- Node Version: 16.15.1
- NPM Version: 8.11.0

### Description:

When building (`npm run build`) an empty CSS file, it'll generate a `.js` file in it's place, with a manifest that doesn't make sense and throws an error in the application.

Here's my generated manifest:

[code]

And here's the [StackTrace](https://flareapp.io/share/xPQk

[2022-06-28 21:21] anburocky3 commented on #32
Looks like i'm using old version of laravel. Upgraded and it goes off.

[2022-06-28 21:21] #32 closed

[2022-06-29 00:01] #33 closed

[2022-06-29 02:00] mrgodhani opened #36 "Not working along with @vitejs/legacy-plugin"
- Laravel Vite Plugin Version: 0.2.1
- Laravel Version: 9.2
- Node Version: 16.5
- NPM Version: 8.5.5

### Description:

@vitejs/legacy-plugin is not working along with vite-plugin from laravel when trying to build production assets.

### Steps To Reproduce:

1) Install the plugin for @vitejs/plugin-legacy
2) Add the below config

[code]
3) Run the `build` command. Notice it generates a legacy fil

[2022-06-29 03:54] jenky opened #37 "Artisan command and watcher"
Regarding artisan command and watcher, they should be similar to this
- https://laravel-vite.dev/configuration/laravel-package.html#commands
- https://laravel-vite.dev/configuration/vite-plugin.html#watch

I'm using `inertia` with `ziggy` so I need to regenerate ziggy routes when the routes change or starting the dev server/building the production assets. Both commands and watcher features allow m

[2022-06-29 04:24] jessarcher commented on #28
Sorry to hear this @shoeyn! I didn't realise that on Windows you wouldn't be able to communicate with the container via its IP address.

It does seem like your suggestions might be the only way forward.

[2022-06-29 05:26] jessarcher commented on #36
Hi @mrgodhani, thanks for raising this issue. I've created #38 that solves the error during the legacy bundle step.

I'm not too familiar with the legacy plugin, so I'm not sure whether there's anything else we could/should be doing when this is being used. Feel free to open a PR or another issue if needed.

[2022-06-29 05:26] #36 closed

[2022-06-29 05:49] jessarcher commented on #37
Hi @jenky,

I've tested Inertia with Ziggy, and if I create a new route in `routes/web.php`, I only needed to reload the page in my browser for the new Ziggy route to be injected via Ziggy's `@routes` Blade directive. The `@routes` Blade directive is the recommended way to load Ziggy routes.

There is a Vite plugin that can automatically reload the page for you when you change a PHP file (such as

[2022-06-29 05:49] #37 closed

[2022-06-29 06:39] jessarcher commented on #28
I'm concerned about setting `localhost` in the hot file because on some machines this resolves to the IPv6 version (`::1`) and Docker doesn't always listen on IPv6.

We could potentially set it to `127.0.0.1` to guarantee IPv4.

However, forcing a local address in the hot file would make things even harder if wanted to get `sail share` working with the Vite dev server.

There is maybe another opti

[2022-06-29 10:18] pamitvn commented on #28
Dear,
I have a similar issue and am using Laravel Sail for my application. I attempted the suggested fixes, but my application is still running at host http://0.0.0.0:5173.

[2022-06-29 10:25] shoeyn commented on #28
@pamitvn Have you manually built the https://github.com/laravel/vite-plugin/tree/use-hmr-host-when-set branch and tested against that? The changes aren't in a released build so changing the vite.config.js alone won't fix it currently.

[2022-06-29 10:34] pamitvn commented on #28
Thank you, it worked.

[2022-06-29 14:53] FilipKostrzewski opened #39 "Vite + InertiaJs + Vue - Broken Default layouts"
- Laravel Vite Plugin Version: 0.2.3
- Laravel Version: 9.19.0
- Node Version: 16.14.2
- NPM Version: 8.5.0

### Description:
I'm still testing it and trying to find a solution but obviously because of resolvePageComponent is returning Promise, it doesn't load layout prop.

[code]

### Steps To Reproduce:
Reffering to the docs of Inertia https://inertiajs.com/pages#default-layouts try to add defau

[2022-06-29 15:16] shoeyn commented on #39
Have you tried the following so it just waits for the promise to resolve before continuing?
[code]

[2022-06-29 15:21] FilipKostrzewski commented on #39
Indeed I tried, this is the result:
[code]

[2022-06-29 15:51] #39 closed, assigned to nobody

[2022-06-29 21:28] hailwood opened #40 "Guide users away from attempting to load the dev server url to access site"
Right now we're getting a [few](https://github.com/laravel/framework/pull/42785#issuecomment-1169296858) [comments](https://github.com/laravel/framework/pull/42785#issuecomment-1170124217) on the Laravel PR saying users can't load the page.
What's happening is they're attempting to load the devserver url (http://localhost:3000) and expecting it to load the site with HMR enabled.

I suggest we upda

[2022-06-29 22:44] jameswong3388 commented on #28
I Found another simple but temporary solution,

Inside `public/hot`, change from

[code]

to

[code]

[2022-06-29 22:58] jameswong3388 commented on #28
I noticed another issue where the WebSocket connection failed constantly (pusher), but all the App Keys were configured correctly.

![image](https://user-images.githubusercontent.com/87692325/176559143-9a0136d0-ac1b-4ef3-814e-551d5462bac0.png)

[code]

[2022-06-29 23:21] jessarcher commented on #40
Thanks for the suggestion @hailwood! I've noticed this as well and was worried about it given how prominently Vite displays that URL. I'd hoped outputting our own Laravel section below, with the APP_URL would make it clearer, but we may need to be more explicit as you've suggested. Mix never output its URL so it avoided the confusion, but I do like being able to see it, especially with Vite's abil

[2022-06-29 23:52] jessarcher commented on #28
Thanks so much for testing this @shoeyn! I'm glad we've found a way to support it!

I've opened a PR for the branch at https://github.com/laravel/vite-plugin/pull/42

We will continue to refine this as more feedback comes in. Ultimately I'd prefer if it "just worked" for you without a config option.

[2022-06-30 05:02] RomanSarvarov commented on #28
Guys, does this issue relate to my problem?
I downloaded "use-hmr-host-when-set" branch files, then compile it by running `run npm run build` and then replaced `node_modules\laravel-vite-plugin\dist` with compiled files.

My vite config:
[code]

My docker-compose.yml:
[code]

So then I run `npm run dev` and trying to fetch http://localhost:3000/@vite/client I have connection refused.

Windows WSL2

[2022-06-30 05:04] dominikgeimer commented on #28
https://github.com/laravel/vite-plugin/issues/40

[2022-06-30 05:05] dominikgeimer commented on #28
@RomanSarvarov have a look at https://github.com/laravel/vite-plugin/issues/40

[2022-06-30 05:10] RomanSarvarov commented on #28
Not sure. My app_url is `http://localhost` and I have Connection Refused error message, instead of 404 that I see in #40 issue.

[2022-06-30 05:44] bricehartmann commented on #28
@RomanSarvarov can you try using the `--host` or `--host 0.0.0.0` option when launching the Vite dev server?

[2022-06-30 06:06] RomanSarvarov commented on #28
@bricehartmann there are not changes :(

[code]

Vite config is default.

[2022-06-30 06:59] RomanSarvarov commented on #28
I found the solution.

[code]

Idk why command above is working, and `docker-compose -f docker-compose.dev.yml run npm run dev` is not, cause In my docker compose file I already opened port 3000:

[code]

Unclear.

[2022-06-30 07:15] #28 closed

[2022-06-30 13:13] cjmellor opened #45 "Config Loading Error When Using Environment Variables"
Hi,

I am trying to use an environment variable in the `vite.config.js` file. I have a variable `VITE_HOST` in my `.env` file and in `vite.config.js` I use `import.meta.env.VITE_HOST` as mentioned in the documentation.

When I run `yarn run dev` I get this output

[code]

It's the same with `npm` too.

Perhaps I am missing something?

[2022-06-30 13:16] driesvints commented on #45
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-06-30 13:16] #45 closed, assigned to nobody

[2022-06-30 14:23] jessarcher commented on #45
@cjmellor `import.meta.env` is only available in files bundled by Vite. I.e. your application files.

In your `vite.config.js` file, you will want to use Node's `process.env`. E.g. `process.env.VITE_HOST`. You also don't strictly need the `VITE_` prefix in this file either, provided you have an env var called `HOST`.

[2022-06-30 14:31] jessarcher commented on #28
Hi @renatoxm, this was fixed in https://github.com/laravel/vite-plugin/pull/42 but it hasn't been tagged yet.

[2022-06-30 15:20] simonbuehler opened #46 "viteDevServerUrl evaluated to http://[::]:3000"
hi,

my dev server runs on docker on http://la.test,
this is my `vite.config.js`
[code]

the viteDevServerUrl  in the `hot` file gets set to `http://[::]:3000` which in turns leads to the `@vite ` helper  generating

`<script type="module" src="http://[::]:3000/@vite/client"></script>`
shouldn't the hmr.host be used  instead?

![grafik](https://user-images.githubusercontent.com/78061/176714958-b5f

[2022-06-30 15:43] simonbuehler commented on #46
sorry guys, i think a fix for this is already in the tree but not in the latest npm

[2022-06-30 15:43] fylzero opened #47 "Js and Css assets are not loading - ERR_BLOCKED_BY_CLIENT / Referrer Policy: strict-origin-when-cross-origin"
- Laravel Vite Plugin Version: 0.2.4
- Laravel Version: 9.19.0
- Node Version: 17.8.0
- NPM Version: 8.5.5

### Description:
Ran VIte shift on a couple small applications and both apps are not loading the front end (just a blank white page).  app.css and app.js are not loading due to ERR_BLOCKED_BY_CLIENT / Referrer Policy: strict-origin-when-cross-origin.  Also worth noting I am running Valet to

[2022-06-30 15:45] EQuimper opened #48 "Failed to fetch dynamically imported module"
- Laravel Vite Plugin Version: 0.2.3
- Laravel Version: 9.19.0
- Node Version: 16.0.0
- NPM Version: 7.18.1

### Description:

When build for prod if a user it's already on one page I will receive this sentry exception when this user change page `Failed to fetch dynamically imported module` Look like it's happening because those files vite create have different name. Do we have a way to trigger I

[2022-06-30 17:46] #46 closed

[2022-06-30 20:43] polynar commented on #39
If you want to overwrite the default layout in a component:
[code]

[2022-06-30 21:27] mike-healy opened #49 "HMR not working with Laravel Sail in WSL2"
- Laravel Vite Plugin Version: 2.9.13
- Laravel Version: 9.19.0
- Node Version: 16.15.1
- NPM Version: 8.11.0
- Windows 10 with WSL2
- Docker Desktop 4.8.1 (78998) using WSL2 backend

### Description:
Setting up a new Laravel project with Sail on Windows. The app and asset bundling works, but HMR is not triggered when updating resources, or even when manually refreshing the tab.

The blade templat

[2022-06-30 21:51] LokiThor2021 opened #50 "Vite manifest not found"
- Laravel Vite Plugin Version: 2.9.11
- Laravel Version: 9.19.0
- Node Version: 16.13.2
- NPM Version: 8.1.2

### Description:
Vite blade helper is not able to find the manifest.json if the `outDir` is changed.

### Steps To Reproduce:

add this to the vite config file

[code]

[2022-06-30 22:05] jameswong3388 commented on #50
Did you run `npm run dev`?

[2022-06-30 22:14] jameswong3388 commented on #49
Wait for the latest release and there will be a fix for this issue.

refer to https://github.com/laravel/vite-plugin/pull/42#issue-1289410988

and add this in your vite `config`

[code]

[2022-06-30 22:16] jameswong3388 commented on #47
This is most likely a browser blocking issue, check if you have any ads blocker turning on.

[2022-06-30 22:23] mike-healy commented on #49
Thanks @jameswong3388!

[2022-06-30 23:16] jessarcher commented on #48
Hi @EQuimper, are you using the latest version of `inertiajs/inertia-laravel` (v0.6.3)? It should detect a change in the manifest and force a full page load (see https://github.com/inertiajs/inertia-laravel/pull/399).

[2022-06-30 23:53] timacdonald commented on #39
Jonathan himself is utilising this approach...

![Screen Shot 2022-07-01 at 9 52 39 am](https://user-images.githubusercontent.com/24803032/176796891-5102f33e-95e3-4e68-ae4a-abbcb963135d.png)

[2022-06-30 23:55] jessarcher commented on #50
Hi @LokiThor2021,

Have you passed your custom build directory as the second parameter to the `@vite()` directive so it knows where to look?

E.g.

[code]

[2022-07-01 00:00] timacdonald commented on #49
Let us know if you have any issues after the next release where this issue should be fixed for you @mike-healy

[2022-07-01 00:02] jessarcher commented on #49
Hey @mike-healy, that fix primarily helps when running Vite inside a Docker container that is inside WSL. I don't think it will solve your issue as you are already able to connect to Vite's dev server.

I believe you'll want to set [server.watch.usePolling](https://vitejs.dev/config/#server-watch) in your `vite.config.js` file:

[code]

[2022-07-01 00:03] timacdonald commented on #47
@fylzero make sure you have followed the steps in the documentation for [working with a secure development server](https://laravel.com/docs/9.x/vite#working-with-a-secure-development-server).

![Screen Shot 2022-07-01 at 10 02 33 am](https://user-images.githubusercontent.com/24803032/176797597-147fe840-1f53-434b-9b8b-151cbc376f3e.png)

[2022-07-01 00:11] jessarcher commented on #50
You'll also probably want to configure the `buildDirectory` option of the Laravel plugin rather than directly configuring `outDir` yourself, as the plugin uses this to construct the "base" URL, including injecting the `ASSET_URL` where appropriate. E.g:

[code]

I haven't tested setting `assetsDir` to `''` and would recommend sticking with the defaults if possible.

Going to close this now as I do

[2022-07-01 00:11] #50 closed

[2022-07-01 00:24] fylzero commented on #47
@timacdonald I added that to my vite.config.js and it did not resolve the issue.  I'm visiting the Valet URL and it is requesting assets via https://localhost:3000/ and throwing a strict-origin-when-cross-origin / GET https://localhost:3000/resources/css/app.css net::ERR_BLOCKED_BY_CLIENT error.

[2022-07-01 00:25] timacdonald commented on #47
@fylzero we are gonna look into this for you today. I misread the issue initially I'm sorry.

[2022-07-01 00:27] fylzero commented on #47
@timacdonald No problem, thanks for assisting.  Not sure this is necessarily an issue with the plugin but I ran into this with two apps so I'd like to know what is causing it.  Excited to switch these to Vite.

[2022-07-01 00:32] mike-healy commented on #49
Thanks @jessarcher, I will try that later today.
When you say the previous fix was for running Vite inside a Docker container – should I be doing this another way?
Should I be running the vite dev command from somewhere else?

I'm happy to change my approach if running the dev server from the WSL terminal is non-standard

[2022-07-01 00:52] fylzero commented on #47
I've also walked through the documentation and moved my CSS import to javascript and replaced my resolve/require statement with resolvePageComponent.  Still having the same resulting error on my javascript.   strict-origin-when-cross-origin / ERR_BLOCKED_BY_CLIENT

[2022-07-01 00:52] jessarcher commented on #49
Hey @mike-healy, I'm honestly not sure what the best practice is with WSL. We've tried to support running Vite both inside and outside Sail containers, but when you run it inside a Docker container that is inside WSL, the networking seems to get a bit more complicated and requires the extra configuration from #42.

[2022-07-01 02:40] timacdonald commented on #47
Hey @fylzero, we've tried to replicate this but haven't been able to locally.

Are you able to create a new Laravel project and replicate the issue? If so, could you do that and create a GitHub repository that we could pull down and test.

A few other things that might be useful to know:

1. When you initially hit the issue, was the site running as "secured"?
2. What version of Valet are you runni

[2022-07-01 03:17] fylzero commented on #47
The repo I'm attempting this on is public:  https://github.com/fylzero/simran-hates-meetings - The Shift branch is `shift-64898`

1. The site is running secured in Valet.
2. Valet v3.1.7
3. Brave v1.40.107 Chromium: 103.0.5060.53 (Official Build) (arm64)
4. When I go to `https://localhost:3000/resources/css/app.css` it returns the CSS file.
5. Mac OS Monterey v12.4
6. Nope (No Docker), using Valet

[2022-07-01 05:33] timacdonald commented on #47
haha. I hate meetings as well 🤣

[2022-07-01 05:44] fylzero commented on #47
@timacdonald We started this a couple years ago.  No one loves this project more than the person we joke about with this.  Also, this is my favorite app to try bleeding edge things on, so this is perfect!  😂

[2022-07-01 06:10] timacdonald commented on #47
Because I can tell how extremely critical this application is, I sent through a PR which makes the final tweaks to work with Vite.

https://github.com/fylzero/simran-hates-meetings/pull/5

Also of note is that after seeing this fresh, modern, and extremely gorgeous UI, I instantly got into more appropriate attire to work on this project - as I felt the work just needed some more Nicholas Cage in t

[2022-07-01 06:11] #47 closed

[2022-07-01 06:13] timacdonald commented on #47
If it is still an issues after you merge and have a play, please let us know.

[2022-07-01 06:14] fylzero commented on #47
@timacdonald Oh man!  Excellent shirt!  I hope you've seen "Unbearable Weight of Massive Talent" (very much worth seeing).

UGH!  So, I merged your PR into the shift-64898 branch.  Pulled the changes.  I'm still getting the same blank page/error.  😭   I did composer dump-autoload, composer update, npm update, npm run dev.  Same 💩 sadly.  Any other thoughts on this?  Sorry to be a pest.

[2022-07-01 06:15] timacdonald commented on #47
That is gold! I have seen it - loved the movie heaps!!!

[2022-07-01 06:16] timacdonald commented on #47
let me test some more.

[2022-07-01 06:18] timacdonald commented on #47
@fylzero can you test in Firefox and confirm the issue exists there as well on your machine?

[2022-07-01 06:19] fylzero commented on #47
Thank you so much for helping with this.  Yeah, I don't know what is going on...

![Simran_Hates_Meetings_and_Reshape_Care](https://user-images.githubusercontent.com/3542501/176835867-36eab22d-5127-4f4a-9f9d-1b6aaaacff37.png)

[2022-07-01 06:19] timacdonald commented on #47
ahhh, i think I can replicate the issue now @fylzero

[2022-07-01 06:20] fylzero commented on #47
@timacdonald It happens in FF as well.

[2022-07-01 06:25] timacdonald commented on #47
Looks like the browser thinks Vite is a ad or something. I can replicate the issue and fix the issue by turning off the shields up stuff.

Might need to put localhost on an allow list or something to make this work permanently.

Let me know if that works for you.

https://user-images.githubusercontent.com/24803032/176836549-472af736-eda7-4b26-bfd9-d4b2523010a7.mov

[2022-07-01 06:31] fylzero commented on #47
@timacdonald That gets me a little further!  Weird it is saying the site is "not secure" when doing that.  I can try to dig into that.  Thanks again for your help!

[2022-07-01 06:40] timacdonald commented on #47
no troubles. Hope you enjoy Vite once you get it kicking smoothly on your end!

[2022-07-01 13:31] axel-verse commented on #39
My final working setup
The only thing that I couldn't make work is `inertia progress`

[code]

[2022-07-01 17:01] EQuimper commented on #48
@jessarcher thank you let me try this one and yes I was on version 0.5

[2022-07-01 18:29] bradleybernard commented on #49
Just wanted to comment on this since this solved my issue with Laravel + Vite + Homestead!

[2022-07-01 19:43] paulocastellano commented on #27
I had the same problem, I fixed it by adding the key and certificate as I already did with laravel mix.

I created an article to show this working.

👉 https://dev.to/paulocastellano/how-to-make-vite-valet-and-ssl-works-together-5hbb

[2022-07-02 04:45] mike-healy commented on #49
Thanks @bradleybernard and @jessarcher .
I got it working by running the npm dev server outside of WSL (and I did not need that server hmr localhost block once I did either).

So in my case I needed to install nvm and node directly on Windows [using this guide](https://docs.microsoft.com/en-us/windows/dev-environment/javascript/nodejs-on-windows). (I already had them inside the WSL2 Ubuntu virtual

[2022-07-02 06:56] PandaYip opened #53 "cors problem when develop laravel in wsl2 with sail"
- Laravel Vite Plugin Version: 0.2.1
- Laravel Version: 9.2
- Node Version: 16.15.1
- NPM Version:  8.12.1

### Description:
I develop laraval in wsl2 with laravel sail
I make a fresh installation laravel 9.2
Everything goes ok , welcome page showed in browser with url http://localhost
then i install jetStream with this command  'sail php artisan jetstream:install inertia'
after npm install and np

[2022-07-02 07:13] jameswong3388 opened #54 "Web Socket conenction failed (pusher)"
- Laravel Vite Plugin Version: v0.3.0
- Laravel Version: v9.21
- Node Version: v18.4.0
- NPM Version: 8.12.1

### Description:
when I server the application, there is a failed connection msg in the console.

![image](https://user-images.githubusercontent.com/87692325/176990666-ff4fe5f6-5bed-4701-9e8d-8e29e709107f.png)

**.env**
[code]

**bootstrap.js**
[code]
### Steps To Reproduce:

[2022-07-02 07:44] jessarcher commented on #53
Hi @PandaYip, this is an issue with Windows not understanding `0.0.0.0` and has been reported in #28 and fixed in #42.

Once this has been released, you will need an additional configuration option when running in Docker with WSL, as detailed in #42.

[2022-07-02 07:44] #53 closed

[2022-07-02 08:57] Koykoy200078 commented on #40
same issue :<

[2022-07-02 09:45] ChrisRiddell commented on #49
An interesting note on this with MacOS when running `npm run dev` inside a sail container viewing localhost in chrome it can render the assets from 0.0.0.0 but not in Safari. I'm going to assume the fix when it comes out will resolve this behaviour in Safari?

[2022-07-03 06:39] jessarcher commented on #48
No worries! I'm going to assume this is resolved - feel free to re-open if you're still having issues with the latest version of Inertia.

[2022-07-03 06:39] #48 closed

[2022-07-03 11:03] enkota commented on #27
While this works, when testing `npm run build` it essentially breaks as we have explicitly set the domain. I get the error `Unable to locate file in Vite manifest: resources/css/app.css.` when using @vite on the header.

Hopefully there's a cleaner way to make this work with Valet. Seems a bit of extra fluff to start new projects compared to Mix.

[2022-07-03 12:42] fylzero commented on #47
@timacdonald I'm still struggling with this but have a little more information.

I tried installing a fresh copy of Laravel (composer global version and packages are up to date), running Valet (Valet is working for other apps), installed Jetstream w/ Inertia (no teams), and I'm still getting this error with no interface loading / blocked assets.

This issue is only occurring on my personal machine

[2022-07-03 22:49] timacdonald commented on #47
Thanks for the update @fylzero. Seems like Brave might really bring the hammer down on cross domain stuff. I'm gonna try and put some time aside to dig deeper on what we can do to make Brave play nicer with things.

[2022-07-03 23:49] timacdonald commented on #47
@fylzero I've spent some time on this today and from what I can see, this is a problem in Brave and it is just how it works.

However, you can do the following.

Open [`brave://adblock/`](brave://adblock/) in the Brave browser. Then add the following to the "Custom Filters"...

[code]

but replacing `my-app.test` with the Valet domain of your application. This rule could probably be improved to al

[2022-07-04 01:45] gradedcatfood opened #58 "Laravel Vite requests to not load on fresh Laravel Install on Homestead"
- Laravel Vite Plugin Version: 0.2.1
- Laravel Version: 9.19
- Node Version: v16.15.0
- NPM Version: 8.5.5

### Description:
Created a new laravel project, installed laravel breeze, run npm install and run dev, and JS and CSS files do not load in the browser. Using homestead as my local dev env running PHP 8.1. All requests to the vite dev server get blocked. Not using any SSL, just a local domain

[2022-07-04 01:52] gradedcatfood commented on #58
I'm sorry but I think I figured it out. Looking through some previous GitHub issues it looks like this is a Brave-specific issue! I turned off the "shield" and now things are working. Sorry for creating this ticket in haste but for anyone else having this issue on Brave this helped me: https://github.com/laravel/vite-plugin/issues/47

[2022-07-04 01:52] #58 closed

[2022-07-04 02:14] timacdonald commented on #58
Glad you got it sorted @gradedcatfood For yourself and future visitors, you may also [configure Brave to allow the Vite dev server to run on your specific project URLs](https://github.com/laravel/vite-plugin/issues/47#issuecomment-1173198084).

[2022-07-04 23:42] jessarcher commented on #40
Thanks for recommending this @hailwood! I think #57 addresses this quite nicely. I'm still open to customising the initial console output, but at this stage, I can't think of anything that fits in with the existing Vite output. We will revisit this with Vite 3 as they've tweaked their output a little.

[2022-07-04 23:42] #40 closed

[2022-07-05 05:41] Aslam97 opened #61 "Laravel vite only show EOF"
- Laravel Vite Plugin Version: ^0.2.4
- Laravel Version: ^9.2
- Node Version: v14.17.0
- NPM Version: 8.13.2

### Description:
Just a couple hours ago Everything goes ok. but after I restarted my laptop and start the project again and it show this.
![Screenshot from 2022-07-05 12-29-00](https://user-images.githubusercontent.com/25027592/177256805-166607c1-6ece-4ece-b666-c307cb7f8356.png)

if i ope

[2022-07-05 05:51] jessarcher commented on #61
Hi @Aslam97, does the same issue happen if you remove the `slotin.test` host from your `vite.config.js` file and from the `php artisan serve` command and then access your site from [http://localhost:8000](http://localhost)?

[2022-07-05 06:12] Aslam97 commented on #61
@jessarcher removing `slotin.test` from `vite.config.js` and run `php artisan serve` without the `--host=slotin.test` flag as you suggested. Now my project can run normally. the reason i use custom domain on my local is because of laravel subdomain routing `{subdomain}.example.com`. however I tried using localhost `{subdomain}.localhost` and it worked. i guess i just use localhost then.

[2022-07-05 06:43] Aslam97 commented on #61
Iam adding
[code]
to `/etc/hosts`. I suspect `slotin.test` and `php artisan serve --host=slotin.test` are not sync. because if I don't run `php artisan serve --host=slotin.test` and go to `slotin.test` it still returns "EOF"

[2022-07-05 07:17] jessarcher commented on #61
Is there a reason that the last two examples use `127.0.1.1` instead of `127.0.0.1`?

[2022-07-05 08:02] Aslam97 commented on #61
There is no reason. as long as localhost and vite dev server are pointing with the same ip.
- `php artisan serve --host=slotin.test` is pointing to 127.0.1.1
- vite dev server with config `server: { host: 'slotin.test' }` is also point to 127.0.1.1 which is right.
now i know why iam getting "EOF" is because vpn on chrome is active. so the alias on 127.0.1.1 (slotin.test) does not resolve. but if i

[2022-07-05 13:13] jessarcher commented on #61
Glad you got it working 👍

[2022-07-05 13:13] #61 closed

[2022-07-05 17:11] ronfuller opened #62 "CORS request still blocked on Sail/WSL2 after 0.3.0 update, public hot file still loads from 0.0.0.0"
- Laravel Vite Plugin Version: 0.3.0
- Laravel Version: 9.19.0
- Node Version: 16.13.2
- NPM Version: 8.4.1

### Description:
Application fails to load with error:
Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://0.0.0.0:3002/@vite/client. (Reason: CORS request did not succeed). Status code: (null).

The error can be temporarily fixed by changin

[2022-07-05 23:29] jessarcher commented on #62
@ronfuller I'm unable to replicate this with `0.3.0`. Can you please confirm you have the correct version by running `npm list | grep laravel-vite-plugin`?

You may need to run `npm install -D laravel-vite-plugin@latest` as the version bump may not meet the requirements in your `package.json`.

[2022-07-06 01:07] guilheb opened #64 "HMR port not being used"
- Laravel Vite Plugin Version: 0.3.0
- Laravel Version: 9.19.0
- Node Version: 14.17.5
- NPM Version: 6.14.14

### Description:
When `server.hmr.port` is specified in the `vite.config.js` file, it is not used to generate the `public/hot` file.

I tried a [pull request](https://github.com/laravel/vite-plugin/pull/63), but I'm not familiar with the TypeScript syntax and the checks are failing. Can s

[2022-07-06 02:33] jessarcher commented on #64
Let's continue the discussion on #63

[2022-07-06 02:33] #64 closed

[2022-07-06 03:39] ronfuller commented on #62
I was able to resolve this issue after running the npm install -D command.
Thank you.

On Tue, Jul 5, 2022 at 4:29 PM Jess Archer ***@***.***> wrote:

[2022-07-06 03:47] #62 closed

[2022-07-06 03:59] JD456976 opened #65 "Configuration "resources/js/app.js" does not exist."
- Laravel Vite Plugin Version: 0.2.0
- Laravel Version: 9.19.0
- Node Version: 18.4.0
- NPM Version: 8.12.1
- Inertia Version: 0.6.3

### Description:
Upon running ```npm run dev``` Laravel throws:

[code]

### Steps To Reproduce:
1. Follow the official Laravel docs
2. Replace 'mix' directive with 'vite' directive in app.blade.php

Went so far as to make changes in the vite.config file with no suc

[2022-07-06 04:52] timacdonald commented on #65
Hi @JD456976, can you confirm you have followed all the steps in order from the [official upgrade guide](https://github.com/laravel/vite-plugin/blob/main/UPGRADE.md)?

[2022-07-06 05:05] timacdonald commented on #65
Can you please share you `vite.config.js`?

[2022-07-06 05:09] JD456976 commented on #65
Certainly! And thank you for taking a look:

[code]

[2022-07-06 05:12] timacdonald commented on #65
This looks good. Could you also share the @vite directive you are using in your views?

[2022-07-06 05:16] JD456976 commented on #65
The below threw an error stating it had to be a string, not an array:

[code]

So I changed mine to:
[code]

and got the error.

I also tried:

``` @vite( '/resources/js/app.js') ``` and an absolute url:  ```@vite( 'http://dev.test/resources/js/app.js')```

I'm using Valet hence the .test domain.

[2022-07-06 05:19] timacdonald commented on #65
This should be the correct version. Can you make sure you have this in the view before moving forward.

[code]

Can you confirm you have a file at the path `"resources/js/app.js"` in your project ?

[2022-07-06 05:23] JD456976 commented on #65
Yes, the app.js file exists and is in the correct location. Hmm.. I get an htmlspecial characters error and indicating it has to be a string.

Let me revert back to mix and then migrate again over to Vite to see if anything gets resolved.

[2022-07-06 05:24] timacdonald commented on #65
Let me know how you go.

[2022-07-06 05:26] JD456976 commented on #65
Will do and additionally, I even tried the automated process with Laravel Shift and got the same exact error.

I'll let you know shortly.

[2022-07-06 05:39] JD456976 commented on #65
Re-installed everything, ```npm run dev``` :

[code]

[code]

[2022-07-06 05:46] timacdonald commented on #65
Can you provide the full stack trace, please?

[2022-07-06 05:49] JD456976 commented on #65
Certainly:

[https://flareapp.io/share/dmkx2glP#F65](url)

[2022-07-06 06:20] timacdonald commented on #65
Can you please provide you `package.json` dependencies?

[2022-07-06 06:22] timacdonald commented on #65
Can you please a copy of your `composer.json` dependencies? Both "require" and "require-dev"?

[2022-07-06 06:26] JD456976 commented on #65
[code]

[2022-07-06 06:28] JD456976 commented on #65
package.json

[code]

[2022-07-06 06:38] timacdonald commented on #65
Thank you for sharing these. I can now see the issue you are facing.

You currently have the community Vite plugin and the Laravel plugin active, and they are conflicting with each other.

The PHP package `"innocenzi/laravel-vite"` along with the NPM package `"vite-plugin-laravel"` are part of the [fantastic community Vite plugin](https://github.com/innocenzi/laravel-vite).

This is a great plugin

[2022-07-06 06:38] #65 closed

[2022-07-06 06:49] JD456976 commented on #65
*facepalm* Thank you for solving that!!

Removed the innocenzi and vite-plugin laravel. Installed the official package, cleared the cache, but now have  a white screen. It does however look like the @vite directive is working properly.

[2022-07-06 06:53] JD456976 commented on #65
and tried http://localhost:3000/

[2022-07-06 06:55] timacdonald commented on #65
That is the URL of the Vite server. You still need to server your site with `php artisan serve`, Valet, or Sail and visit the web server URL like you used to.

If you are using Valet and your project directory is called "toast", you should still visit `toast.test` in the browser.

[2022-07-06 06:56] JD456976 commented on #65
I'm using Valet and that's the url I'm visiting. I can actually see the page source which all looks fine....

[2022-07-06 06:58] JD456976 commented on #65
I figured it out. I was importing a component without using .vue.

THANK YOU again for all of your help and time!!

[2022-07-06 07:00] timacdonald commented on #65
perfect! glad to hear you got it sorted 😀

[2022-07-06 14:12] gorbit99 opened #66 "Still not working through WSL2 and sail even with 0.3.0"
- Laravel Vite Plugin Version: 0.3.0
- Laravel Version: 9.19
- Node Version: 16.15.1
- NPM Version: 8.13.2

### Description:
I'm trying to run my project through wsl2 and sail, but I'm only getting a blank screen saying:
[code]
instead of the site loading. I have version 0.3.0 installed with laravel 9.19, and I have the server.hmr.host set to "localhost" in vite.config.js.
The resources can be acc

[2022-07-06 23:46] timacdonald commented on #66
Would you mind sharing your vite config and also your docker compose file?

[2022-07-07 00:58] jessarcher commented on #66
If the blade directives are being output to the screen and you're on Laravel 9.19, then you probably loaded the directives prior to 9.19 and it will have cached them as not existing. Try `php artisan view:clear`.

[2022-07-07 02:57] nyshire opened #67 "Add a command flag to generate new project directly with Laravel Mix configuration instead of Vite"
Hello, Laravel team. I just wanted to suggest an improvement. I find the update from mix to vite very cool but I think that there are many simple projects that uses Laravel Mix and basic SSR even though modern web app are built with SPA tech stack. I think we can have a command flag like `laravel new project --mix` to generate a project with mix instead of vite config because it can be annoying to

[2022-07-07 03:41] jessarcher commented on #67
Hi @nyshire, is there something in particular you're missing in Vite? I've been loving it on all my projects, including simple SSR ones.

[2022-07-07 03:55] tuto1902 opened #68 "Asset files are not loading after a fresh Laravel Sail installation on MacOS"
- Laravel Vite Plugin Version: 0.2.4
- Laravel Version: 9.19.0
- Node Version: 16.15.1
- NPM Version: 8.12.1

### Description:
After a fresh installation of Laravel Sail and Laravel Breeze, css and js files are not loading in the browser

### Steps To Reproduce:
[code]

vite v2.9.13 dev server running at:

When I visit localhost/login, the console shows "Failed to load resource: bad URL" and these

[2022-07-07 03:58] goodnewso commented on #67
So many issues with wsl2 on windows dev server

[2022-07-07 03:59] goodnewso commented on #67
Windows WSL2 not working with vite dev server

[2022-07-07 04:20] simonwong1985hk commented on #68
me too
<img width="1280" alt="laravel vite valet secure failed to assets" src="https://user-images.githubusercontent.com/18599865/177690155-6bd4ae51-5b29-491d-ab51-b9ee0d05e624.png">

[2022-07-07 04:23] nyshire commented on #67
Hi @jessarcher. No, not at all. Vite is a cool but i'm just saying that it can be interesting to have possibility to use laravel mix. It could be more easy to use for people who already have experience with webpack if maybe they don't knwo vite...

[2022-07-07 05:10] timacdonald commented on #68
[code]

I've just followed these steps verbatim and the site is running as expected on my MacOS machine...

![Screen Shot 2022-07-07 at 3 04 42 pm](https://user-images.githubusercontent.com/24803032/177695631-8899b6e1-f892-41af-880f-660f257b87cc.png)

Can you confirm the following:

1. You are running on MacOS (as discussed on Twitter).

2. The `vite.config.js` file contains _only_ the following..

[2022-07-07 08:47] gorbit99 commented on #66
This solved the issue, thank you very much!

[2022-07-07 08:47] #66 closed

[2022-07-07 14:20] simonwong1985hk opened #71 "hot reload is not work on valet with ssl"
<img width="1280" alt="Screen Shot 2022-07-07 at 22 17 27" src="https://user-images.githubusercontent.com/18599865/177796454-b72a22ca-b422-417b-8f9e-097d975546d1.png">

[2022-07-07 15:37] tuto1902 commented on #68
I can confirm all of the above. Also, it appears the issue is limited to Safari. I tested the same address on Firefox and Chrome and the assets load fine. I haven't tested on Edge but I'm guessing it will work as well.

[2022-07-07 15:47] tuto1902 commented on #68
Another interesting development. When I turn off "Prevent cross-site tracking" in Safari's privacy preferences. The error message changes to this
![Screen Shot 2022-07-07 at 9 45 19 AM](https://user-images.githubusercontent.com/2152532/177816088-016768fe-37ea-45d8-b60e-b9b845a6b343.png)

[2022-07-07 16:21] clementmas commented on #71
I had the same issue. I fixed it by specifyinig the `hmr` `host`. I'm not sure why that's not a default.

[code]

[2022-07-07 19:38] rvalenzuelaferrada commented on #71
I have the same problem with laravel homestead.

[2022-07-08 00:23] simonwong1985hk commented on #71
Before @clementmas, I find a solution https://github.com/simonwong1985hk/live/commit/555f21ceda37f1759bb21075c1bea6968f7ab5df which from https://dev.to/paulocastellano/how-to-make-vite-valet-and-ssl-works-together-5hbb, after try the solution from @clementmas, it also works for me and better cleaner coding, thank you so much!

[2022-07-08 00:23] #71 closed

[2022-07-08 01:14] timacdonald commented on #71
Hey folks,

Glad you have this sorted and sorry you ran into troubles. For future readers, the documentation has instructions on working with a secure server (remember you need to accept the certs as outline) and we are actively looking at improving the experience with secure local servers.

![Screen Shot 2022-07-08 at 11 12 16 am](https://user-images.githubusercontent.com/24803032/177896801-236ee

[2022-07-08 01:37] timacdonald commented on #68
I'm unable to replicate this in Safari. Everything is working as expected in Safari on my end. Toggling "Prevent cross-site tracking" on / off also has no impact for me.

Are you accessing localhost over HTTP or HTTPS?

[2022-07-08 02:18] tuto1902 commented on #68
I'm accessing localhost over HTTP. I don't know if it's relevant but I'm using an M1 Mac mini. Although, blaming it on apple silicon it's quite a leap.

[2022-07-08 04:41] mike-healy commented on #49
@timacdonald , @jessarcher FWIW I am having the same issue as before with v0.3.0 of the plugin in WSL.
The initial app response works, including CSS. Changes do not hot reload, even if I refresh the tab. I have to stop and start the dev server too see CSS changes take effect.

I am using this block in the config
[code]

As before if run the dev server from my host machine things work as expected.

[2022-07-08 11:26] shakeel2717 commented on #67
yes, i also wish, there's a command in laravel laravel new project --mix
Please allow us to choice the Vite or Mix

[2022-07-08 20:09] innocenzi commented on #67
For anyone here preferring Mix over Vite, I suggest you write a [preset](https://preset.dev/) instead, with your own opinionated modifications. I think having an official Vite *and* Mix scaffolding would be too much to maintain and quite unnecessary.

[2022-07-09 09:39] enkota commented on #68
The only way I could get things to work on Valet/Safari/SSL is with the following.

It would be nice not to have to explicitly set a domain path however.

[code]

[2022-07-09 14:51] nyshire commented on #67
Ok, thanks @innocenzi.

[2022-07-09 14:51] #67 closed

[2022-07-10 08:39] AdyGCode commented on #68
Hi @timacdonald,

I'm getting very similar issues to the other users, and I'm running on an Intel Mac, with Docker Desktop 4.10+

As I prefer to use MariaDB over MySQL, I used the steps:
[code]

The `vite.config.js` file reads:
[code]

Docker compose file `docker-compose.yml` has the lines:
[code]

Tested using Chrome, Safari, Edge and Firefox.

-  http://localhost:5173
    - Safari: BLANK
    - C

[2022-07-10 21:09] Fedeorlandau commented on #68
Facing a similar issue, blank page on port 3000.

I'm not using docker.

`npm run dev`

<img width="326" alt="image" src="https://user-images.githubusercontent.com/10283686/178162112-fda273f9-748d-4e0d-be6c-b3604248b471.png">

<img width="892" alt="image" src="https://user-images.githubusercontent.com/10283686/178162124-880c12a8-115b-4623-b0fb-0dadaef98ef7.png">

UPDATE:
If I run `php artisan serv

[2022-07-10 23:14] jessarcher commented on #68
@AdyGCode @Fedeorlandau Accessing the Vite dev server directly (http://localhost:3000 or http://localhost:5173, depending on whether you're running it inside Sail) is expected to return a blank screen at the moment as that's just where Vite serves assets for HMR. This has been improved with #57 as we'll now be outputting a default help screen to instruct users to run a dev server for Laravel.

[2022-07-11 00:26] timacdonald commented on #68
@AdyGCode @tuto1902 are either of you utilising and ad blocking plugins or anything? Can you confirm if the issue persists if you have Safari in a "vanilla" state with no extra plugins or configuration?

[2022-07-11 01:16] timacdonald commented on #49
@mike-healy can you visit your site at `http://localhost` instead of `http://example-app.test` and let me know if there is any other errors or functionality working / not working?

[2022-07-11 01:29] AdyGCode commented on #68
@timacdonald

- I'm not running valet at all.
- Also, not running any other web services other than using docker.
- Only have the Laravel site running inside docker.
- Safari is in 'vanilla' mode - same result
- Safari, reset the experimental features - same result
- Played with the settings as requested, including clearing cache between each test - no effect

I have little snitch running, but tur

[2022-07-11 01:32] AdyGCode commented on #68
@jessarcher

That's good to hear - someone who comes straight from mix to vite would not be familiar with that little idiosyncrasy.
May I suggest adding the message to the npm command results as well?

[2022-07-11 02:08] AdyGCode commented on #68
@timacdonald

Tim, I modified the URIs for the vite on the rendered page to localhost from 0.0.0.0 on Safari, and it rendered.
I know this as I had purposely published the Breeze assets and modified the Login page.

<img width="1216" alt="Capto_Capture 2022-07-11_10-06-22_" src="https://user-images.githubusercontent.com/60425995/178175433-18baf976-83cf-4a03-a04c-8039b86cb440.png">

[2022-07-11 02:47] tuto1902 commented on #68
After trying out your suggestions:
- The issue only exists on HMR mode. After killing the dev server and running `sail npm run build`, the assets load without problem
- I have no extensions running on safari
- I Safari on vanilla mode (reset experimental features to default) and it had no effect. Same issue, no changes
- I Tried enabling/disabling all the suggested develop features (disable images

[2022-07-11 02:55] tuto1902 commented on #68
@timacdonald A small development. Just like @AdyGCode, if I manually change the href value of the link in the head from 0.0.0.0 to localhost (Ctr+Cmd+C > right click > edit attribure). The page suddenly loads fine.
![Screen Shot 2022-07-10 at 8 49 58 PM](https://user-images.githubusercontent.com/2152532/178180160-8200bf60-d4a6-47a4-ad25-60fa24e334ed.png)

[2022-07-11 03:00] AdyGCode commented on #68
@tuto1902, @jessarcher, @timacdonald

OK - I have found a workaround thanks to #42 plus the Spatie/Freek blade refresh settings.

Edited the vite.config.js file, and added the following before the 'plugins' settings:
[code]

Also, added  the Freek/Spatie 'fix' for auto-reload on blade file updates, in the plugins array, after the `laravel` entry:

[code]

Full Code for the `vite.config.js` is:
[co

[2022-07-11 03:14] tuto1902 commented on #68
@AdyGCode I tried your workaround but still doesn't work for me. I even tried setting `server.host` to localhost, which changed the address from 0.0.0.0 to localhost but the resources didn't load, which is all kind of confusing since changing the value manually in the rendered page to localhost actually loads the asset
![Screen Shot 2022-07-10 at 9 11 59 PM](https://user-images.githubusercontent.c

[2022-07-11 03:22] tuto1902 commented on #68
This is a small video to demonstrate what I mean

https://user-images.githubusercontent.com/2152532/178182547-29438cba-8177-46ce-937a-35c021464081.mov

[2022-07-11 06:36] AdyGCode commented on #68
@tuto1902
I know I'll probably be teaching you to suck eggs, but did you `sail down` and then `sail up` after the changes - I tend to do that if I am not sure if something will truly pick up changes correctly.

The `server.host` (from what I read and recall) will not help when working with a sail/docker container - I believe the `server.host` needs to be `0.0.0.0` for docker/containers. The host,

[2022-07-11 09:44] mike-healy commented on #49
Hey @timacdonald .

- Visiting at `http://localhost` and `http://example-app.test` work the same way for me (same problems & the same parts work).
- I was not using polling before. I just tried it. It very barely kind of works. When I save the CSS file I get an instant message in the console saying `[vite] css hot updated: /resources/css/app.css`, but then it takes a huge amount of time for the re

[2022-07-11 09:48] mike-healy commented on #49
The one thing that works flawlessly is running the dev server off the local machine 😉

[2022-07-12 01:06] AdyGCode commented on #68
That happens, and given my configuration is a bit wild, I was wondering the same.

If you get the chance to re-build the Mini then you may find it clears up the issue.
If not it, you have your answer for now.

@timacdonald  and @tuto1902 - No problems closing, but it may be worth adding a note that in some situations, the HMR option under server may be required.

[2022-07-12 11:22] zdarin opened #74 "public to public_html"
Hello,

Can some one explain what im doing wrong
Im working with shared hosting and when public folder renamed for public_html writes error can someone explain how correctly change without errors? Or its seems to be fixed ??

By npm run dev throws errors but seems working
Or i need public folder exist too for laravel vite to work and public_html for host ?

<img width="1131" alt="check" src="https

[2022-07-12 23:22] timacdonald commented on #74
You should not use Vite's publicDir config, as that has a different purpose. Instead you may set the `publicDirectory` for the Laravel Plugin.

[code]

[2022-07-12 23:22] #74 closed

[2022-07-13 10:15] zdarin commented on #74
Thx its fixed this with public error but in browser i have error

```Failed to load resource: the server responded with a status of 500 ()```

I think somthing with manifest / assests it should be ??

[2022-07-13 17:28] bcorcoran opened #75 "Vite 3.0 support?"
Vite 3.0.0 was released today, is it possible that this plugin could be updated to support that?

It appears that the plugin works just fine with vite 3.0.0 but the dependency just needs to be updated to include ^3.0

[2022-07-13 23:21] timacdonald commented on #74
With that information I'm not sure what the issue is or if it is related to the vite plugin or not.

[2022-07-13 23:25] timacdonald commented on #75
@bcorcoran we will absolutely be support Vite 3 - but as it only shipped today we need to test it with the plugin. Support will likely be in the next release.

[2022-07-13 23:25] #75 closed

[2022-07-14 10:17] asolopovas opened #78 "Can't change base url for ping pong"
Hi,

I am using my own nginx server to run laravel application. The problem that I cannot change base_url/__vite_ping. It tries to request https://server.test/__vite_ping rather than https://localhost:3000/__vite_ping. Here is my vite.config.js

[code]

When I run vite -d, the config base does not change it seems like laravel plugin overrides it, is there a way to change `base_url` ?

[2022-07-14 10:28] driesvints commented on #78
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-07-14 10:28] #78 closed

[2022-07-14 23:56] timacdonald commented on #78
@asolopovas I believe you will want to set the `server.hmr.host` to `"localhost"`. See: https://v2.vitejs.dev/config/#server-hmr

[2022-07-15 03:44] MoaaidJamal opened #79 "Issue with installing Inertia with Laravel Vite"
- Laravel Vite Plugin Version: 0.2.0-beta.27
- Vite Plugin Version: 2.9.14
- Laravel Version: 9.20.0
- Node Version: 18.5.0
- NPM Version: 8.14.0
- Host operating system: macOS 12.4
- Web Browser & Version: Edge 103.0.1264.51
- Running in Sail / Docker: No (Just Valet)

### Description:
I installed a new Laravel application and I followed the steps in this URL [https://laravel-vite.dev/guide/extra

[2022-07-15 03:58] timacdonald commented on #79
Hey there,

This plugin is a 3rd party plugin. You should open an issue on [their issue tracker](https://github.com/innocenzi/laravel-vite) for support.

[2022-07-15 03:58] #79 closed

[2022-07-15 11:33] MoaaidJamal opened #80 "Issue with installing Vue with Laravel Vite"
- Laravel Vite Plugin Version: 2.9.14
- Laravel Version: 9.20.0
- Node Version: 18.5.0
- NPM Version: 8.14.0
- Host operating system: macOS 12.4
- Web Browser & Version: Edge 103.0.1264.51
- Running in Sail / Docker: No (Just Valet)

### Description:
I tried to install @vitejs/plugin-vue in a fresh Laravel application with version 9.20.0 and I faced the issue that the current version of @vitejs/pl

[2022-07-15 11:35] #80 closed

[2022-07-15 11:35] driesvints commented on #80
Also see https://github.com/laravel/vite-plugin/pull/76

[2022-07-15 13:26] dissolvdgrl commented on #47
I had to replace `127.0.0.1` with `localhost` in my case in my `brave://adblock/` Custom Filters.

[2022-07-15 16:16] zdarin commented on #74
delete config file on Hosting server from

```bootstrap\cache\config.php```

[2022-07-15 17:15] zdarin commented on #74
here as should be published to hosting server

<img width="348" alt="Screenshot 2022-07-15 at 20 09 00" src="https://user-images.githubusercontent.com/42121280/179274662-3dc27f15-873a-4c87-bde4-75887ebc4214.png">

<img width="348" alt="Screenshot 2022-07-15 at 20 08 51" src="https://user-images.githubusercontent.com/42121280/179274779-f824eb65-1904-40ce-a700-82e4218501d3.png">

<img width="1072" a

[2022-07-15 17:34] Rage-coder69 commented on #74
idk why mine doesn't work, The Vite.php file is looking in the public folder of the laravel(folder structure that is in development)

[2022-07-15 19:06] haleyngonadi opened #81 "Blade @vite directive not detecting public/build Folder"
- Laravel Vite Plugin Version: ^0.4.0
- Laravel Version: ^9.19.0
- Node Version: 18.6.0
- NPM Version: 8.13.2
- Host operating system: macOS 10.15.7
- Web Browser & Version: Chrome 104.0.5112.48
- Running in Sail / Docker: No

### Description: Running npm run dev works well but when I run npm run build, the build folder is created as expected in public/build but the @vite direction in blade isn't

[2022-07-16 00:43] timacdonald commented on #81
This will happen if the `public/hot` file still exists.

check that you haven’t accidentally committed this file to the project repository. If it exists, delete it.

The plug-in should automatically delete it when it shuts down the HMR server, but potentially you committed the file while it was running.

If that isn’t the case, let us know.

[2022-07-16 00:43] #81 closed

[2022-07-16 03:50] jessarcher commented on #74
@Rage-coder69, you need to tell Laravel where your new public directory is. You can do this in the `register` method of a service provider:

[code]

[2022-07-16 03:56] jessarcher commented on #78
Vite 2 has a known issue with its ping URL and backend integrations like Laravel's. There's no way to customise where it makes the request as it just hits `/__vite_ping` which means the browser makes the request to the backend server instead of the Vite server.

This has been fixed in Vite 3 and this plugin will support Vite 3 very soon (See #77)

[2022-07-16 04:27] haleyngonadi commented on #81
That was indeed the case. Because I was not canceling the process properly, the hot file wasn't being deleted. Thank you so much!

[2022-07-16 05:04] jessarcher commented on #81
@haleyngonadi How were you cancelling it out of interest? We've tried to detect the various ways the process will stop so we can hook in and delete the file.

[2022-07-16 05:32] haleyngonadi commented on #81
@jessarcher I was just killing terminal (hitting the trash button on VS code):
![Screen Shot 2022-07-16 at 01 29 05](https://user-images.githubusercontent.com/6877114/179341262-0f48bfc8-6213-4e37-ae38-65ec372089f3.png)

Could a solution be to auto-delete the hot file as soon as `vite build` is run as opposed to depending on canceling the dev process? 👀

[2022-07-16 11:04] nezaboravi opened #82 "Bad Url for Vite in Safari, page not loading"
- Laravel Vite Plugin Version:  vite v2.9.14
- Laravel Version: Laravel v9.20.0
- Node Version: v16.16.0
- NPM Version: 8.14.0
- Host operating system: macOS Monterey, MacBook Pro 16" M1 Pro
- Web Browser & Version: Safari 15.5
- Running in Sail / Docker: Sail

### Description:
Default laravel page is not loading on Safari due an error:
[code]
However, it works properly in firefox.

This happens o

[2022-07-16 11:20] Rage-coder69 commented on #74
yes thank you for your reply, i had to tell laravel my new public directory and had to update the code in the core files, and after that tweaking, the website starting working.

[2022-07-16 17:07] cotarconsorcio commented on #28
How did you configure hmr host?

[2022-07-17 03:29] jessarcher commented on #81
Thanks @haleyngonadi, I'll see if we can hook into closing the terminal in that way.

My only concern with deleting the hot file on build is that someone may want to run the build while the HMR server is also running :woman_shrugging:

[2022-07-17 03:31] jessarcher commented on #82
@timacdonald have you seen this one?

[2022-07-17 15:52] mandrasch opened #83 "[feat] Option to set dev server URL manually for @vite (without touching server.hmr)"
Hi, very glad to see an official integration for vite in laravel. Much respect for the work! :+1:

I tried to integrate this with [DDEV](https://github.com/drud/ddev), a local PHP development environment system based on Docker.

Vite runs inside the docker container. The following `vite.config.ts` is needed to get this working with DDEV router (a reverse proxy. Vite must respond to all network req

[2022-07-17 19:19] bcorcoran opened #84 "The Vite server should not be accessed directly."
- Laravel Vite Plugin Version: 0.4.0
- Laravel Version: 9.19.0
- Node Version: 18.6.0
- NPM Version: 8.13.2
- PNPM Version: 7.5.2
- Host operating system: macOS 12.4
- Web Browser & Version: Edge 103.0.1264.62 (Official build) (arm64)
- Running in Sail / Docker: No

### Description:
When running pnpm/npm run dev, I get the following output:

[code]

### Steps To Reproduce:

run `pnpm run dev`

###

[2022-07-18 00:27] jessarcher commented on #83
Hi @mandrasch,

`server.hmr` is the offical way of customising Vite to look for the dev server in a different location than it's served, as is the case when using a reverse proxy. This is specifically mentioned in the Vite docs at https://v2.vitejs.dev/config/#server-hmr.

The Laravel Vite plugin also looks at this configuration to determine how to write to the hot file, which makes it consistent

[2022-07-18 00:30] jessarcher commented on #84
Have you navigated to `https://xxxx.test:3000/` in your browser? This warning should only show up when making requests to the index page of the Vite dev server.

Could you please provide your `vite.config.js` and your usage of the `@vite` directive?

[2022-07-18 02:18] kurucu opened #85 "Use Valet certificates automatically for Vite SSL"
I have started using the code in this blog post by Freek to (almost) automatically set up SSL with Vite for Valet.

https://freek.dev/2276-making-vite-and-valet-play-nice-together

I'm wondering if this could be added to vite-plugin as an option `valet: true`; and somehow detecting `host` automatically e.g. from the APP_URL environment variable?

Edit: Valet generates the "host" from the current w

[2022-07-18 06:18] ahrasel opened #86 "vite.createFilter is not a function when use vue plugin in vite js config file"
- Laravel Vite Plugin Version: 0.4.0
- Laravel Version: 9.19
- Node Version: 16.15.0
- NPM Version: 8.5.5
- Host operating system:  Ubuntu

### Description:
[code]

![image](https://user-images.githubusercontent.com/12865001/179454498-39ca8947-1a9b-4220-9474-8208a2a81261.png)

[2022-07-18 07:08] jessarcher commented on #86
I've never seen this error before - can you let me know what the following command returns:

`npm list | grep vite`

[2022-07-18 08:06] driesvints commented on #86
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-07-18 08:06] #86 closed

[2022-07-18 08:08] driesvints commented on #85
I don't think we have plans for this right now. Thanks

[2022-07-18 08:08] #85 closed

[2022-07-18 08:09] driesvints commented on #84
@bcorcoran yes this is expected. Please don't access the local url directly. Feel free to answer @jessarcher' questions.

[2022-07-18 08:09] #84 closed

[2022-07-18 08:49] driesvints commented on #83
Closing this as this is more a support question. Please try a support channel if you need help integrating this with Docker.

[2022-07-18 08:49] #83 closed

[2022-07-18 13:44] bcorcoran commented on #84
vite.config.js
[code]

And my usage of the @vite directive:

`@vite('resources/js/app.js')` as the last item in <head>

[2022-07-18 14:41] jessarcher commented on #86
@ahrasel I'm pretty sure `@vitejs/plugin-vue` 3.x is for Vite 3. Try switching to the latest 2.x release of it.

Vite 3 support is coming very soon!

[2022-07-18 17:02] willvincent opened #88 "Ability to omit paths from refresh"
It's super straightforward to _include_ paths to look at for triggering a refresh, but it would be really helpful to be able to also define paths to _exclude_. The use case for me is that I'd like to omit `resources/views/livewire/**` and instead let the [vite-livewire-plugin](https://github.com/def-studio/vite-livewire-plugin) handle hot-reloading when those files change.

I was able to cobble to

[2022-07-18 17:54] mandrasch commented on #83
Thanks very much for responding so fast! 👍

I tried your suggestion and it breaks vite responding to requests in DDEV. Unfortunately I'm not so deep into this to describe why it breaks. Guess the answer is somewhere in https://v2.vitejs.dev/config/#server-hmr (and as I stated other users advised not to user hmr).

<img width="739" alt="image" src="https://user-images.githubusercontent.com/777278/1

[2022-07-18 18:46] localpath opened #89 "Consider not hardcoding `ASSET_URL` into the base path for production builds"
Introduce a way to override the base path used for production builds. In some instance the asset_url may be assigned to a different CDN or location than where the build assets need to be ie (a different CDN or the app server itself).

https://github.com/laravel/vite-plugin/blob/d0b8894b7fa8e4086d8c0d274b7cb26a7b93a5c1/src/index.ts#L100

https://github.com/laravel/vite-plugin/blob/d0b8894b7fa8e4086

[2022-07-18 20:55] driesvints commented on #88
Feel free to attempt a PR, thanks 👍

[2022-07-18 20:55] #88 closed

[2022-07-18 22:13] jimblue opened #90 "Upgrade to new ViteJS major version V3"
Hey,
ViteJS V3 has been release 🎉... It could be nice to upgrade Laravel Vite plugin to use it 🙏🏼
Cheers

[2022-07-18 22:58] jbraband commented on #90
I believe I read in a comment from Dries that the update for laravel/vite-plugin is being tagged tomorrow.

[2022-07-18 23:04] jessarcher commented on #90
There is already a PR for this: #77

[2022-07-18 23:04] #90 closed

[2022-07-18 23:26] localpath commented on #89
Hello. Thanks for the quick response. So for instance the `ASSET_URL` is using a cdn for known static files but the build pipeline is not "building" the SPA/JS/LESS and then copying it over to a bucket to be picked up by the cdn for instance.

I like ur idea of the build step env var. That would work perfectly. My point was just that it forces the entire deployment to use or not use the native lar

[2022-07-19 02:11] bcorcoran commented on #84
@jessarcher It appears my 404s (from missing ".vue" on SFC imports) were triggering the message. Once I added the extension to all relevant imports, the message went away.

[2022-07-19 06:29] driesvints commented on #89
It seems you sent in a PR for this, thanks. Let's continue the discussion there: https://github.com/laravel/vite-plugin/pull/91

[2022-07-19 06:29] #89 closed

[2022-07-19 07:33] Rubens10010 opened #92 "Assets url on subdirectory of server causes duplicate app name"
- Laravel Vite Plugin Version: 0.4.0
- Laravel Version: 9.2.0
- Node Version: 16,16
- NPM Version: 8.11.0
- Host operating system: Ubuntu 20.4
- Web Browser & Version: Chrome
- Running in Sail / Docker: No

### Description:
I have a brand new installation of laravel with inertia and vite I installed this on my server running php8.1 and nginx serving serveral other apps. I have several blocks of lo

[2022-07-19 07:38] driesvints commented on #92
We don't support Laravel apps in subdirectory. Please don't do that as this is dangerous.

[2022-07-19 07:38] #92 closed

[2022-07-19 08:52] mandrasch commented on #83
Got Enzos take on this (via [Discord vite - laravel](https://discord.com/channels/804011606160703521/996689697332023356/998862406715457617)), asked him why he chose `DEV_SERVER_URL` as feature in his vite integration:

Each approach has its advantages, mine is to know the development server URL in advance
I think you can still manage to use their Integration by extending Vite and changing how the

[2022-07-19 11:52] driesvints commented on #49
Hey @mike-healy. Because we've only gotten one report for this I'm going to close this one off. I'm sorry HMR doesn't work for you. Maybe try a support channel to see if anyone can help you out?

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com

[2022-07-19 11:52] #49 closed

[2022-07-19 12:08] driesvints commented on #82
Works fine for me in Safari:

<img width="1964" alt="Screenshot 2022-07-19 at 14 07 45" src="https://user-images.githubusercontent.com/594614/179746572-29c0f8e3-f745-4958-8b62-dc9d36ba5a73.png>

Please try a support channel:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [D

[2022-07-19 12:08] #82 closed

[2022-07-19 15:45] weavdale opened #93 "Can't find module `laravel-vite-plugin/inertia-helpers.js` in SSR"
- Laravel Vite Plugin Version: 0.5.0
- Laravel Version: 9.21.0
- Node Version: 18.6.0
- NPM Version: 8.13.2
- Host operating system: macOS 12.4
- Web Browser & Version: Firefox 103.0b9
- Running in Sail / Docker: No

### Description:
Installed the latest version of Laravel, installed latest version of Breeze with SSR, then ran `npm run build`. Everything built fine, but when running `node bootstra

[2022-07-19 15:52] Wit3 opened #94 "Laraver Forge error during deployment"
- Laravel Vite Plugin Version: 0.5.0
- Laravel Version: 9.21.0
- Node Version: v12.22.1
- NPM Version: 6.14.12
- Host operating system:  Ubuntu 20.04

### Description:

package.json
[code]
During deployment in Laravel Forge

[code]

### Steps To Reproduce:

[2022-07-19 21:13] eminos opened #100 "@vite() with ngrok doesn't work"
- Laravel Version: 9.21.0
- PHP Version: 8.1.6

### Description:

The `@vite()` directive generates js and css URLs with the `asset()` URL helper, which generates "full URLs".
This doesn't really work when using ngrok or similar tunneling tools.
Shouldn't these URLs be relative per default, for example if no `ASSET_URL`  is set in `.env`?

A workaround seems to be to set `ASSET_URL=.` in `.env`

[2022-07-19 23:27] jessarcher commented on #94
Hi @Wit3, could you please tell us what version of Node and NPM you are running on your Forge server?

[2022-07-19 23:35] timacdonald commented on #74
Hey folks, I just removed some comments here as they were exposing your servers file structure and it could be a potential security risk.

Just better to be safe than sorry 🔐

[2022-07-19 23:45] timacdonald commented on #88
@willvincent you can create a glob pattern to match your requirements. Under the hood, picomatch is used, so the following should work for your needs...

[code]

You can learn more in the picomatch documentation: https://github.com/micromatch/picomatch#advanced-globbing

[2022-07-19 23:47] timacdonald commented on #81
another good idea is to make sure the hot file is ignored in your projects `.gitignore` file. Then it should not be able to be committed unintentionally.

[2022-07-19 23:49] haleyngonadi commented on #81
@timacdonald It's in my `.gitignore` file for sure (from my laravel mix days) but I usually run build locally and push build files to my prod server.

[2022-07-19 23:54] willvincent commented on #88
Oooo! I didn't know about the ability to negate specific path parts, that's fantastic!

Thanks @timacdonald that's super helpful.

[2022-07-20 00:07] timacdonald commented on #88
no troubles at all!

[2022-07-20 00:53] willvincent commented on #88
Unfortunately that doesn't seem to be working, but I'll keep digging. Appreciate the point in the right direction

[2022-07-20 01:01] timacdonald commented on #93
This is addressed in #95.

For a temporary fix until this fix is tagged and released, you may do the following in your `vite.config.js`:

[code]

[2022-07-20 01:01] #93 closed

[2022-07-20 01:12] timacdonald commented on #88
Might be. I just tried this on a fresh app and it worked as expected. Hopefully you can get it going 😀

[2022-07-20 01:13] willvincent commented on #88
Just downgraded to vite 2.9 and it's all good!

🎉🤘

[2022-07-20 04:31] mandrasch commented on #83
Quick update, details for the above comment for interested readers of this issue.

If I understood Enzo correctly,

- the `@vite` Blade directive could be extended, basically it's line 28 which reads the vite dev server URL as string from `public/hot` https://github.com/laravel/framework/blob/baf526ed6e725d7aa0950b0675361f4009a892af/src/Illuminate/Foundation/Vite.php#L28
    - this could be change

[2022-07-20 05:00] nezaboravi commented on #82
Thanks @driesvints seems it works for you.

[2022-07-20 07:18] Wit3 commented on #94
@jessarcher

- Node Version: v12.22.1
- NPM Version: 6.14.12

[2022-07-20 07:57] Bosphoramus opened #96 "Error while using Inertia Vue: The Vite server should not be accessed directly."
- Laravel Vite Plugin Version: 0.5.0
- Laravel Version: 9.21.0
- Node Version: 16.15.0
- NPM Version: 8.14.0
- Host operating system: macOS 12.4
- Web Browser & Version: Chrome 103
- Running in Sail / Docker: No

### Description:
I have scaffolded an Inertia Vue SSR application using Laravel breeze with the following breeze command:

php artisan breeze:install vue --ssr

Everything works correctly

[2022-07-20 08:07] #94 closed

[2022-07-20 08:16] driesvints commented on #54
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-07-20 08:16] #54 closed

[2022-07-20 16:53] ercanertan opened #97 "Creating Multiple Bundles"
Is it possible to create multiple bundles same time? So my plan is separating frontend assets from backend assets.

Example

Frontend
[code]

Backend
[code]

Thank you!

[2022-07-21 01:26] RyanArdyan commented on #28
Hello Boy

[2022-07-21 01:50] jessarcher commented on #96
I believe this is because Vite 3 now pings the root URL when the HMR server disappears.

It's a bit hard to reliably detect whether the user is visiting it vs. it being pinged by the Vite client, as the requests are both made by the browser.

I'm inclined to remove the console warning as the index page we serve should hopefully be enough to guide users towards running a dev server for Laravel.

[2022-07-21 01:57] gofish543 commented on #19
I'm still having this problem

[2022-07-21 01:58] jessarcher commented on #96
I've created #98 to address this. Feel free to continue discussion over there :slightly_smiling_face:

[2022-07-21 01:58] #96 closed

[2022-07-21 03:34] timacdonald commented on #19
This problem has been addressed in later releases, and what is more with Vite 3, we are no longer responsible for generating the CSS paths.

I recommend updating to the latest package and Vite release. You may need to adjust your version constraints to get to the latest versions.

[2022-07-21 04:01] HuyPham55 opened #99 "SyntaxError: Named export 'resolvePageComponent' not found"
- Laravel Vite Plugin Version: "0.5.0"
- Laravel Version: ^9.19
- Node Version: v16.13.1
- NPM Version: 8.10.0
- Host operating system: Windows 10
- Web Browser & Version: Chrome
- Running in Sail / Docker: None

### Description:
After `npm run build`, running `node bootstrap/ssr/ssr.mjs` causes the following error. More detail below:

Related documents:
1. https://laravel.com/docs/9.x/vite#ssr
2.

[2022-07-21 05:38] timacdonald commented on #99
Duplicate of https://github.com/laravel/vite-plugin/issues/93

This issue will be fixed in the next release. Please see https://github.com/laravel/vite-plugin/issues/93#issuecomment-1189692624 for a interim solution.

[2022-07-21 05:38] #99 closed

[2022-07-21 06:49] Bosphoramus commented on #96
Ok, thank you @jessarcher ☺️

[2022-07-21 10:37] AhsanAbrar opened #101 "Vite CSS bug for production"
- Laravel Vite Plugin Version: 0.5.0
- Laravel Version: 9.21.3
- Node Version: 16.13.2
- NPM Version: 8.1.2

### Description:

[code]

[code]

After running this command:

[code]

Getting this error:

[code]

### Steps To Reproduce:

I have done some research on it.

there is an issue in the `manifest.json` file.

[code]

![Screenshot_57](https://user-images.githubusercontent.com/16134379/18019327

[2022-07-21 10:39] driesvints commented on #101
Using Windows?

[2022-07-21 10:39] driesvints commented on #101
Please fill out the **FULL** issue template.

[2022-07-21 10:42] AhsanAbrar commented on #101
Yes, using Windows

[2022-07-21 10:43] driesvints commented on #101
Can you please fill out the remaining parts of the issue template?

[code]

[2022-07-21 10:46] AhsanAbrar commented on #101
I have updated it.

[2022-07-21 10:53] sebsobseb opened #102 "[w/ Inertia] Error: Cannot access "./util.inspect.custom" in client code."
- Laravel Vite Plugin Version: **0.5.0**
- Laravel Version: **9.20.0**
- Node Version: **16.15.0**
- NPM Version: **8.10.0**
- inertiajs/inertia-laravel Version : **0.6.3**
- @inertiajs/inertia-vue3: **0.6.0**
- Inertia SSR: ✖️ **NO**
- Yarn Version: **3.2.1**
- Tailwind Version: **3.1.6**
- Host operating system: **macOS Monterey** (12.4 Apple M1 Max)
- Web Browser & Version: **Chrome 103**
- Run

[2022-07-21 11:25] sebsobseb commented on #102
Found a similar issue in the Vite issues, but instead of `./util.inspect` it was for `events`: https://github.com/vitejs/vite/issues/9238

Someone from the Vite team closed the issue and said:
"events cannot be used from browser and you need to install a [polyfill](https://github.com/browserify/events) by yourself." ?

[2022-07-21 14:50] schonhoff commented on #101
Hi,

same error for me after Updating to version 0.5.0 and vite 3.0.2

Laravel Vite Plugin Version: 0.5.0
Laravel Version: 9.21.4
Node Version: 16.14.2
NPM Version: 8.13.2
Host operating system: Windows
Web Browser & Version: Chrome - Version 103.0.5060.134 (Offizieller Build) (64-Bit)
Running in Sail / Docker: No

Found this issue to the error:
https://github.com/laravel/vite-plugin/issues/19

[2022-07-21 15:28] jenky opened #103 "HRM hot file use IPv6 while vite devserver running on IPv4"
- Laravel Vite Plugin Version: 0.5.0
- Laravel Version: 9.21.4
- Node Version: 18.3.0
- NPM Version: 8.11.0
- Host operating system: macOS Monterey 12.4
- Web Browser & Version: Chome 103.0.5060.114 (arm64)
- Running in Sail / Docker: No (Valet)

### Description:
HRM hot file use IPv6 while vite devserver running on IPv4

<img width="1113" alt="image" src="https://user-images.githubusercontent.com

[2022-07-21 19:33] sebsobseb commented on #102
✅ The issue disappeared when I switched from Yarn (3.2.1) to NPM 🤷‍♂️

[2022-07-21 19:34] #102 closed

[2022-07-21 19:37] bcorcoran opened #104 "Unmet peer dependencies for vite-plugin-full-reload"
- Laravel Vite Plugin Version: 0.5.0

### Description:

Laravel vite plugin currently requires vite-plugin-full-reload 1.0.1 as a dev dependency but 1.0.1 requires vite ^2.7.10

Please update dependency to 1.0.2

### Steps To Reproduce:

[code]

[2022-07-21 23:21] timacdonald commented on #104
This has been addressed in the upstream package.

[2022-07-21 23:21] #104 closed

[2022-07-21 23:29] timacdonald commented on #19
Looks like there is an issue in Vite itself. To keep up with this issue, watch this issue: https://github.com/laravel/vite-plugin/issues/101#issuecomment-1191581068

[2022-07-22 00:50] jessarcher commented on #103
Hi @jenky, by default the Vite dev server listens on IPv4 and IPv6, if your OS supports it.

I can't see anything in your issue that indicates that the Vite dev server is only listening on IPv4. `localhost` is a hostname and can resolve to both IPv6 (::1) and IPv4 (127.0.0.1) addresses.

[2022-07-22 00:52] jessarcher commented on #100
Hi @eminos, do you have a proposed solution that still supports the `ASSET_URL` for things like Vapor?

[2022-07-22 01:08] jessarcher commented on #101
Hi @AhsanAbrar,

As of version 3, Vite is now responsible for adding CSS files to the manifest. In version `0.5.0` of this plugin, we removed our code that manually added these entries.

Therefore it seems like this is an issue with Vite 3 rather than this plugin.

If you're using a front-end framework like Vue, then I would recommend [importing your CSS via JavaScript](https://laravel.com/docs/9.

[2022-07-22 04:39] jenky commented on #103
Hmm, but some how I can't visit http://::1:5173/@vite/client nor http://::1:5173/resources/js/app.js. Chrome decide to block it and redirect to blank page `about:blank#blocked`

[2022-07-22 06:00] jessarcher commented on #103
That's strange!

The plugin should be adding the brackets for IPv6 addresses:
https://github.com/laravel/vite-plugin/blob/6ed250de5cb325075ad539b415cb01488e28dd1c/src/index.ts#L342

[2022-07-22 06:01] jessarcher commented on #103
We've just double-checked this on macOS and the hot file has:

[code]

Do you have any `server` config in your `vite.config.js`?

[2022-07-22 06:37] driesvints commented on #101
Thanks @jessarcher

[2022-07-22 09:20] eminos commented on #100
Maybe something like this?
Pass the asset path through `makeAssetUrl` that only uses `asset()` if `config('app.asset_url')` is set.

[code]

This works for my use case (ngrok needs relative paths), but I really don't know if it breaks anything else by not using the `asset()` helper.

[2022-07-22 09:35] liambhc opened #105 "Plugin is rewriting forward slashes to backslashes in Manifest on NPM Run Build"
- Laravel Vite Plugin Version: 0.5.0
- Laravel Version: 9.21.5
- Node Version: 16.15.1
- NPM Version: 8.13.1
- Vite Version: 3.0.2
- Host operating system: Windows 10 21H2 19044.1826
- Web Browser & Version: N/A
- Running in Sail / Docker: Homestead

### Description:
Npm Run Dev is serving my JS and CSS files as expected.
But on running Npm Run Build, I get errors for files defined in my plugin in

[2022-07-22 09:36] danieleperot opened #106 "Cannot import and use Web Workers while in development mode"
- Laravel Vite Plugin Version: 0.5.0
- Laravel Version: 9.21.0
- Node Version: 16.15.0
- NPM Version: - not applicable -
- Yarn Version: 1.22.18
- Host operating system: Ubuntu 22.04
- Web Browser & Version: Chrome 103
- Running in Sail / Docker: Laravel in Sail, Vite on host

### Description:
Hi everybody! :blush:

I'm trying to setup web workers in my Laravel application.
My goal is to import a

[2022-07-22 09:42] driesvints commented on #105
Heya, please see many previous closed issues before opening new ones.

[2022-07-22 09:42] #105 closed

[2022-07-22 09:59] jenky commented on #103
No I don't. This is my current `vite.config.js`

[code]

[2022-07-22 10:28] jenky commented on #103
After putting a log in the script, this is the value of `address`.
<img width="362" alt="image" src="https://user-images.githubusercontent.com/1808758/180420211-bab86fb4-d562-41fa-8f31-b86ba4b06dd4.png">

The `family` value is just `6` instead of `IPv6`, that's why square bracket is missing.

[2022-07-22 15:09] jessarcher commented on #103
Interesting! The type definition for Node's `AddressInfo` interface shows that `family` is supposed to be a string.

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/node/net.d.ts#L22

I've tried with Node 16 and 18 and I can't get it to give me a number.

This means TypeScript doesn't even like me testing for a number:

![image](https://user-images.githubusercontent.com/497716

[2022-07-22 15:21] jenky commented on #103
I found this after doing some research https://nodejs.org/api/net.html#serveraddress. Definitely interesting!

<img width="1118" alt="image" src="https://user-images.githubusercontent.com/1808758/180471100-4291b0ed-8263-4a86-9b72-dd9de728464f.png">

[2022-07-22 16:13] quantumwebco opened #107 "Ignores host config"
- Laravel Vite Plugin Version: 0.2.0-beta.28
- Laravel Version: 9.19
- Node Version: 16.16.0
- NPM Version: 8.15.0
- Host operating system: WSL2 in Windows 11
- Web Browser & Version: Chrome latest
- Running in Sail / Docker: Sail

### Description:
Setting host in config gets ignored, setting host on cli throws exception

Brand new Laravel install
sail up
npx @preset/cli apply laravel:inertia

as

[2022-07-22 16:40] quantumwebco commented on #107
Setting ```DEV_SERVER_URL=http://localhost:5173``` which is the default seems to work fine
I must have just been getting confused and mismatched all the config lol

[2022-07-22 16:40] #107 closed

[2022-07-22 17:07] ArcaneDrift commented on #82
@nezaboravi  I just came to post this haha, I'm seeing the same issue on a M1 MacBook Pro,  works fine in Chrome and Firefox but it seem Safari is ignoring 0.0.0.0 with the error "Bad URL"
![Screen Shot 2022-07-23 at 2 30 35 am](https://user-images.githubusercontent.com/109709314/180489619-cddc238f-4dcd-4f38-a961-1dc9c882f72b.jpg)

[2022-07-22 23:38] jessarcher commented on #107
This is the wrong repo, you're after https://github.com/innocenzi/laravel-vite

[2022-07-24 23:19] timacdonald commented on #105
Duplicate: https://github.com/laravel/vite-plugin/issues/101

[2022-07-25 00:41] timacdonald commented on #100
@eminos could you not just set the `ASSET_URL` to the appropriate URL when sharing?

[2022-07-25 00:57] timacdonald commented on #103
Taking a look over the changelog I can see that this was released (as shown above) in [Node  `v18.4.0`](https://github.com/nodejs/node/releases/tag/v18.4.0).

Issue: https://github.com/nodejs/node/issues/43014
Pull Request: https://github.com/nodejs/node/pull/43054

Seems changing this was essentially seen as a bug fix as it was breaking many 3rd party packages, thus it was pushed in a minor relea

[2022-07-25 00:57] #103 closed

[2022-07-25 05:06] timacdonald commented on #101
I've opened a PR to address this in Vite. I would absolutely love if someone could test this fix for me as I cannot actually test this fix locally.

See: https://github.com/vitejs/vite/pull/9353

[2022-07-25 20:46] timacdonald commented on #101
The fix for this has been merged upstream and I assume will be tagged in Vite `v3.0.4` sometime soon.

[2022-07-26 09:52] driesvints commented on #100
Think this is a good intermediate solution here.

[2022-07-26 09:52] #100 closed

[2022-07-27 01:08] jessarcher commented on #106
Hi @danieleperot,

Thanks for reporting this. I have been able to reproduce the issue and I can see what's going on, but I'm not sure what the fix is.

When defining a worker like this in `app.js`:

[code]

The code served by the Vite dev server looks like this:

[code]

Because of the leading `/`, the browser makes the request to the backend server as you've described (e.g. `http://127.0.0.1:8001

[2022-07-27 01:08] #106 closed

[2022-07-27 19:35] sunscreem opened #109 "Websocket fails using VSCode port forwarding."
- Laravel Vite Plugin Version: 0.5.2
- Laravel Version: 3.0.0
- Node Version: 16.16.0
- NPM Version: 8.11.0
- Host operating system: Windows 10
- Web Browser & Version: Chrome 103
- Running in Sail / Docker: No - Running in VS Code remote WSL

### Description:

As above I'm using VS Code on Windows, remotely connected to a forge linux server.
VS Code is handling the port forwarding (proxying?) and

[2022-07-28 11:56] danieleperot commented on #106
Thanks for your work @jessarcher! I can confirm your findings, I went through your same steps and got the same results.

The fact that you can't load a worker from a different origin is the main issue I would say, but of course that's a browser-vendor thing and not fixable by us :smile:

I will try to see if using `localhost` instead of `127.0.0.1` allows cross-origin web workers: this trick works

[2022-07-28 15:27] arthvrian opened #110 "Custom manifest filename"
Laravel Vite Plugin Version: 0.5.2
Laravel Version: 9.19
Node Version: 16.16.0
NPM Version: 8.11.0
Vite : 3.0.3
Host operating system: Windows 10
Web Browser & Version: Brave 1.41 (Chromium 103)
Running in Sail / Docker: No

### Description

Vite allows setting a custom manifest filename https://vitejs.dev/config/build-options.html#build-manifest because the default filename may conflict if you ar

[2022-07-29 07:10] jessarcher commented on #110
Hi @arthvrian,

If we were to do this, we'd also need to provide a way to specify the custom manifest location on the Laravel side of things too.

It should be fairly straight-forward, especially after https://github.com/laravel/framework/pull/43442 is merged.

Thoughts @timacdonald?

[2022-07-29 07:19] timacdonald commented on #110
@arthvrian are you actually experiencing this conflict? Is there any specific reason you are trying to put things in the root `/public` directory?

If you are doing this, isn't it also deleting you `index.php`, `robots.txt`, favicon.ico` and everything else that is static in the public directory? I would imagine doing this renders your Laravel application un-usable as it can no longer receive requ

[2022-07-29 10:00] timacdonald commented on #101
`v3.0.4` of Vite has now been tagged.

Please update to the latest version and this issue should be resolved for you.

See: https://github.com/vitejs/vite/blob/v3.0.4/packages/vite/CHANGELOG.md

[2022-07-29 10:24] AhsanAbrar commented on #101
@timacdonald You did a great job! Thanks

[2022-07-29 10:48] schonhoff commented on #101
Thanks for the fix! It worked!!!

[2022-07-29 18:19] arthvrian commented on #110
@jessarcher you are right

@timacdonald I'm just trying to mimic the behaviour of -mix- using -vite-, taking advantage of the speed of -vite- to compile, but leaving the resulting files in the same path that -mix- does/did, so I don't have to modify (for now, a lot of) blade templates

After a few tries, I realized that it's much easier to do it with the plain -vite- config, without involving the

[2022-07-29 20:34] scrummitch commented on #103
I also encountered the issue without the brackets with node 18.1, upgrading to 18.7 has solved it for me

[2022-07-31 15:37] sunscreem commented on #109
Hey all - is there any extra info I could provide?

[2022-08-01 02:34] jessarcher commented on #109
Hi @sunscreem, I'm not too familiar with VS Code or Windows and I didn't even know VS Code could remotely connect to a server! Seems cool though.

Are you able to verify whether this works with a [standard Vite project](https://vitejs.dev/guide/#scaffolding-your-first-vite-project) I.e. without a backend server?

If so, are you able to get this working with Laravel without using this plugin, by ma

[2022-08-01 15:53] fabio-ivona opened #111 "Laravel plugin keeps full refreshing the page when refresh is disabled"
- Laravel Vite Plugin Version: 0.5.2
- Laravel Version: 9.19.0
- Node Version: 16.15.0
- NPM Version: 8.11.0
- Host operating system: Linux
- Web Browser & Version: Chrome 103.0.5060.134
- Running in Sail / Docker: Docker

### Description:

It seems that setting `refresh: false` doesn't disable full reloads on blade files changes

### Steps To Reproduce:

this is my vite.config.js

[code]

and thi

[2022-08-01 17:33] sunscreem commented on #109
Hey @jessarcher - Thank you for taking the time to help.

I created a clean (vanilla js) vite project as you suggested and everything seems to be working great. I notice that the websocket connection is also there and working fine, so that would hint that it's something in the config vs VS code itself.

I'm going to try setting up the backend integration in a clean Laravel project next and I'll re

[2022-08-01 22:17] DarkGhostHunter opened #112 "[0.x] Web Workers return 404"
- Laravel Vite Plugin Version: 0.5.2
- Laravel Version: 9.22.1
- Node Version: 17.2.0
- NPM Version: 8.15.1
- Host operating system: Windows 10 / Ubuntu 22.04
- Web Browser & Version: Chrome 105.0.5195.10
- Running in Sail / Docker: No

### Description:

Using `monaco-editor`, which requires Web Workers to be registered to enable functionality, [using it as instructed](https://twitter.com/youyuxi/

[2022-08-02 00:03] jessarcher commented on #111
Hey @fabio-ivona, thanks for reporting this.

I've been able to replicate the issue starting from version `0.5.0` onward when we switched to Vite 3.

I'll see if I can figure out what's going on.

[2022-08-02 00:07] jessarcher commented on #112
Hi @DarkGhostHunter, this looks like the same issue as #106.

I believe this is an upstream issue with Vite, but I'd be curious to know whether the problem exists *without* this plugin, by manually configuring Vite following https://vitejs.dev/guide/backend-integration.html

[2022-08-02 00:51] DarkGhostHunter commented on #112
It's somewhat the same. My goal was to include [`monaco-yaml`](https://monaco-yaml.js.org/) as I need a YAML Editor plus Schema verification.

I'll try the manual backend config.

[2022-08-02 06:15] driesvints commented on #112
Please see the other issue, thanks.

[2022-08-02 06:15] #112 closed

[2022-08-02 07:25] fabio-ivona commented on #111
@jessarcher if it is useful for debugging:

when `refresh = false;` , full refreshes are triggered only by `resources/views/**` changes,

`app/View/Components/**` and `routes/**` are (correctly) excluded from full reload.

[2022-08-02 08:56] fabio-ivona commented on #111
the full reload seems triggered by tailwind

if I disable tailwind in `postcss.config.js` no full refresh are triggered

also, dull refresh is triggered in Vite `updateModules` function ([ref](https://github.com/vitejs/vite/blob/1983cf43d4da92d40b1f96dff0a44def044f9130/packages/vite/src/node/server/hmr.ts#L148)) because `propagateUpdate` returns true [here](https://github.com/vitejs/vite/blob/1983

[2022-08-02 15:23] Jehadalmaliki commented on #28
I have tried all of those ,it doesn't really help me .

[2022-08-02 15:25] RomanSarvarov commented on #28
fixed for me by using --service-ports:
[code]

(I have separated container for npm)

[2022-08-03 03:29] jessarcher commented on #111
Good find @fabio-ivona! I've also confirmed that the issue exists even when the code for the refresh feature in this plugin is completely removed.

I don't think there's anything we can do in this plugin to resolve it, and I see that you've raised the issue upstream, so I'm going to close this one. All the best in getting it resolved!

[2022-08-03 03:29] #111 closed

[2022-08-03 03:35] jessarcher commented on #110
It sounds like you've got a workaround, so I will close this for now. I'm not keen on adding a new configuration option to this plugin and to the framework to mimic Mix. We can always revisit it if another use case requires a different manifest name.

[2022-08-03 03:35] #110 closed

[2022-08-03 05:58] fabio-ivona commented on #111
Yep, I'll try to sort it out with Vite team, also will share the issue here so anyone can help with the solution

This new vite "feature" not only completely broke our vite livewire plugin, but also makes livewire development more difficult than before, compelling you to refresh the page (and resetting components) even when changing some minor code

[2022-08-03 07:30] fabio-ivona commented on #111
Just opened an issue https://github.com/vitejs/vite/issues/9512

@jessarcher as this issue is detrimental for laravel-vite too, if you could have a look and add any information you find useful, will be great :heart:

[2022-08-03 09:48] fabio-ivona commented on #111
@jessarcher one last update

it seems that the issue can be solved inside `handleHotUpdate` method, my plugin is fixed with these lines of code, just in case you want to fix the `refresh=false` behaviour of the laravel-plugin:

[code]

[2022-08-03 10:14] plakhin commented on #28
Windows 10, WSL2, Docker Desktop.

Just installed a very fresh Laravel version: `curl -s https://laravel.build/example-app | bash`
and Jetstream: `sail shell` and there (inside) `php artisan jetstream:install inertia && php artisan migrate && npm install`

Still having an original issue:

Still possible to solve with:

I've tried to adjust Vite config:
[code]
This changed the url inside `public/ho

[2022-08-03 11:10] vilbergs opened #114 "Compatibility with @vite/plugin-legacy"
Hello!

I've had fantastic success using this plugin so far, thanks for making our migration to Vite a breeze.

I've been trying to get [@vite/plugin-legacy](https://github.com/vitejs/vite/tree/main/packages/plugin-legacy) to work alongside this plugin, but the automatic code injection does not seem to take effect, I'm assuming that is for similar reasons that the legacy plugin does not work with

[2022-08-03 13:36] sunscreem commented on #109
Hey again @jessarcher. I've been trying this on and off for the last 2 days and I've not made much progress.

If I follow the instructions on on the backend integration you linked to, I can start the vite server but when I click the link to open the page it returns a 404 no matter what port its on.

Another confusion is that the standard vite project (the one I managed to get working no problem) s

[2022-08-04 02:46] torenware commented on #83
This is a misunderstanding of server.hmr.

server.hmr controls what parameters are passed from the Vite dev server to the client.ts script that initiates the HMR web socket after the vite 'nub' script starts up and loads its assets from the vite dev server. It does not "to look for the dev server in a different location than it's served".  It tells client.ts where to look for web socket end point.

[2022-08-04 03:51] jessarcher commented on #83
I'm not sure how this is really different from what I said. Perhaps I could have used better terminology:

`server.hmr` is the offical way of customising ~~Vite~~ _the Vite client_ to look for _the web socket end point of_ the dev server in a different location than it's served.

The "hot file" is a plain text file that this plugin writes to `public/hot` containing the resolved URL of the Vite HMR

[2022-08-04 04:10] torenware commented on #83
The trouble with most of the settings under server.hmr is that they either have side effects, or the client.ts script can infer what to do correctly, so the settings are irrelevant (this from sapphi-red, who reviewed some of my code on a vite integration).

server.hmr.host is Mostly Harmless, but Vite itself doesn't really _need_ it.  Were I developing your integration, I'd hesitate to use it to c

[2022-08-04 04:14] torenware commented on #83
@jessarcher If you have the chance, take a look at [this issue I just posted](https://github.com/laravel/framework/issues/43540). It links[ a repo of a Laravel user I've been working with](https://github.com/Ellarddekoeijer/my-laravel-app), which might make it easier for you to reproduce what we're seeing.

[2022-08-04 04:20] DarkGhostHunter commented on #112
I was able to replicate the problem, and it seems that when using a backend instead of using Vite as a proxy won't allow web workers because what you said earlier: the browser doesn't allow web worker to run from different ports, even in the same domain.

In other words, to this to successfully work, the only workaround is to access the server through Vite.

[I elevated this to Vite](https://githu

[2022-08-04 04:23] torenware commented on #83
Not sure how the "view-source" stuff ended up in the link. Odd Firefox behavior Here's what I just pulled off view-source for the page in question, using Chrome instead:

[code]

[2022-08-04 04:55] jessarcher commented on #83
We're using Vite's `configureServer` hook to listen for when the Vite dev server is listening for connections:

https://github.com/laravel/vite-plugin/blob/89d74e4b87be2076d2139f7281c8162d9c94885a/src/index.ts#L146-L153

The `configureServer` hook gives us an instance of [`ViteDevServer`](https://github.com/vitejs/vite/blob/9e9cd23763c96020cdf1807334368e038f61ad01/packages/vite/src/node/server/ind

[2022-08-04 05:13] torenware commented on #83
Not sure what the pnpm error is either, but probably not our problem, at least here :-)

I can confirm that with the hmr settings you recommend, that the tags _now_ resolve to:

[code]

[2022-08-04 05:56] jessarcher commented on #83
It feels like a bit of a stretch for Laravel to assume that the proxy it's behind is also where it will find Vite, only on a different port. I'd imagine there are as many users where this is not the case as there are where it is.

I do agree that using `server.hmr.host` is a bit hacky, as the documentation specifically mentions that this is for locating the HMR _websocket_ server, rather than the

[2022-08-04 07:29] driesvints commented on #114
Right now, we don't aim to be compatible with this library, sorry.

[2022-08-04 07:29] #114 closed

[2022-08-05 07:29] jessarcher commented on #109
Hey @sunscreem, sorry to hear that. Thanks a lot for trying!

I'm going to close this for now as I'm not really set up to experiment with it myself. If you or someone else figures it out, and there's something we can do in this plugin, feel free to open a PR.

[2022-08-05 07:29] #109 closed

[2022-08-07 12:41] GrytsenkoAndrey opened #115 "Event after npm run build page look for the resource/css/app.css but not to the public/build/assets"
- Laravel Vite Plugin Version: 0.5.0
- Laravel Version: 9.23
- Node Version: 16.15.1
- NPM Version: 8.11
- Host operating system:  Linux 21.10
- Web Browser : Chrome 102.0.5005.115 (Official Build) (64-bit) || Firefox 103.0.1 (64-bit)

### Description:
Event after npm run build page look for the resource/css/app.css but not to the public/build/assets

### Steps To Reproduce:
The project repository

[2022-08-08 00:23] jessarcher commented on #115
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-08-08 00:23] #115 closed

[2022-08-08 00:24] jessarcher commented on #115
I had a look at your project to ensure it's not an issue with Laravel UI.

Your project has a mixture of CSS and SCSS. The `welcome.blade.php` view is loading `resources/css/app.css` but the `app.blade.php` layout is loading `resources/scss/app.scss`.

Your `vite.config.js` is only compiling `resources/css/app.css`, so the pages that load `resources/scss/app.scss` will fail in build mode.

[2022-08-08 00:28] timacdonald commented on #101
Glad it is sorted for you, folks!

[2022-08-08 00:29] timacdonald commented on #103
This has been addressed in `v0.5.3` of the plugin, which should hopefully help those that hit this in the future.

[2022-08-08 00:32] timacdonald commented on #111
Thanks @fabio-ivona I've made a note of this and will take a look shortly.

[2022-08-08 07:03] fabio-ivona commented on #111
Looking forward to see your code, keep me updated so I can adapt my plugin to not interfere with the laravel one

[2022-08-08 07:05] fabio-ivona commented on #111
Looking forward to see your code, keep me updated so I can adapt my plugin to not interfere with the laravel one

[2022-08-08 16:24] tbruckmaier commented on #114
For reference, @kitro suggested a workaround here: https://github.com/laravel/framework/pull/42785#issuecomment-1203317575

[2022-08-08 16:26] lucraraujo commented on #92
This is a problem with recente versions os Inertia. There are some issues open at their repository and some workarounds. Check them out there.

[2022-08-08 17:35] LuanHimmlisch opened #117 ""Too much recursion" with AlpineJs and Laravel Jetstream on browser sync"
- Laravel Vite Plugin Version: 0.5.0
- Laravel Version: 9.23.0
- Node Version: 18.6.0
- NPM Version: 8.14.0
- Host operating system: Manjaro
- Web Browser & Version: Mozilla Firefox 102.0.1
- Running in Sail / Docker: No

### Description:

The browser sync seems to have some troubles with Alpine. When building the application with `vite build` it doesn't give any problems, but when running solely

[2022-08-08 23:45] timacdonald commented on #111
After seeing the the response (https://github.com/vitejs/vite/issues/9512#issuecomment-1208133617) I'm not entirely sure we should attempt to "fix" the behaviour.

This is in place so that Tailwind JIT works - and if the browser doesn't do a refresh it seems like others things will break. Kinda just thinking we mark this one up as "expected behaviour" for the Laravel plugin at least.

Thoughts?

[2022-08-09 00:01] timacdonald commented on #117
I'm unable to reproduce this with the following steps:

[code]

Everything is working as expected for me.

If you could produce a minimal reproduction case in a repository or as a shell script, that would be great and we can take a better look.

[2022-08-09 00:01] #117 closed

[2022-08-10 15:09] VicGUTT commented on #19
Just dropping by to say Thank you ! @jessarcher for the implementation here and @timacdonald for the upstream PR. Freaking love Open Source ! 💪🏾 ❤️

[2022-08-10 23:22] timacdonald commented on #19
💖💖💖

[2022-08-12 09:22] amitleuva1987 commented on #28
This worked for me.

[2022-08-12 19:06] MarkL4YG opened #119 "Configuration ("publicDirectory") does not support absolute paths on Linux/Unix"
Hi there 👋🏼

I'm quite new to using Vite and Laravel together but I'm already excited on the benefits of using Vite.
It appears, I've stumbled on a bug that appears when this plugin generates the Vite ``outDir`` on Unix-like systems.

Since this bug seems fairly straight forward, I've not taken the time to confirm it on a fresh Laravel project. Let me know if you want me to confirm it from there i

[2022-08-13 08:08] plakhin opened #120 "`withoutMix()` helper"
We're using `$this->withoutMix();` helper in our `Tests\TestCase::setUp()` so we can run some tests with CI pipeline without having compiled assets. It would be nice to have something similar for Vite.

[2022-08-14 01:16] jessarcher commented on #120
`$this->withoutVite()` already exists :slightly_smiling_face:

https://github.com/laravel/framework/blob/9a6bfc46593cc1cf262d7495c63c484111880cd5/src/Illuminate/Foundation/Testing/Concerns/InteractsWithContainer.php#L106

[2022-08-14 01:16] #120 closed

[2022-08-14 01:19] plakhin commented on #120
Cool! @jessarcher thanks for pointing out!

May be it makes sense to mention it somewhere in the documentation.

[2022-08-14 01:40] jessarcher commented on #120
Done :slightly_smiling_face:

https://github.com/laravel/docs/pull/8122

[2022-08-14 23:38] timacdonald commented on #119
The public directory should not be an absolute path, but instead a relative path for Laravel.

Also, this should only be set if you are changing the public directory in your Laravel project.

If your public directory was `"public_html", you would set this to:

[code]

Try setting it relative and let us know if you have any issues.

[2022-08-14 23:38] #119 closed

[2022-08-17 15:14] mohammadremoradi opened #121 "node bootstrap/ssr/ssr.mjs dont work after use packages"
- Laravel Vite Plugin Version: 0.5.0
- Laravel Version: 9.19
- Node Version: 16.16.0
- NPM Version: 8.17.0
- Host operating system: Windows / Linux

### Description:

i use some packages like material/ui and react icons

it does work when i use (npm run dev) command even its also work on npm run build

but

when i use node bootstrap/ssr/ssr.mjs i have alot of errors in terminal
most about add inde

[2022-08-17 15:24] driesvints commented on #121
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-08-17 20:21] rushi7997 opened #122 "refresh option not working after the upgrade"
- Laravel Vite Plugin Version: 0.5.4
- Laravel Version: 9.25.1
- Node Version: 16.13.2
- NPM Version: 8.1.2
- Host operating system: Windows 11
- Web Browser & Version: ? Chrome
- Running in Sail / Docker: No
- Vite Version: 3.0.8

### Description:
I was using Laravel Vite with an older plugin version (0.4.0), and I was following this guide by freek.dev to have my app work with hot reload [guide](

[2022-08-17 23:10] timacdonald commented on #122
Hey @rushi7997,

Looks like you just have specified your paths incorrectly.

[code]

See the [Laravel Vite: Refreshing on Save](https://laravel.com/docs/9.x/vite#blade-refreshing-on-save) documentation for more info.

Just note that I wouldn't recommend adding the `resources/css/**` and `resources/js/**` paths into the refresh option. This will mean you lose the benefit of the HMR server as the br

[2022-08-17 23:10] #122 closed

[2022-08-18 15:56] rushi7997 commented on #122
@timacdonald I have tried the solution you gave it is not working on my machine.
I have no idea how the hot reload/refresh works but what's strange in my case is it's not establishing this WS connection to the Vite dev server
![image](https://user-images.githubusercontent.com/29655727/185440120-858095e9-c5f6-4ed3-8d13-94c8ddd81722.png)

I think it has something to do with HMR/refresh

[2022-08-18 23:31] timacdonald commented on #122
No troubles.

So it is working on a fresh install, which means it isn't you computer. So there must be something in your setup for the specific project.

Can you ensure that you have run each of these steps in order from the [official upgrade guide](https://github.com/laravel/vite-plugin/blob/main/UPGRADE.md).the order matters).

If this are still not working, try running:

[code]

and ensure that

[2022-08-19 15:30] renky opened #124 "Call to undefined method Illuminate\Foundation\Vite::asset()"
- Laravel Vite Plugin Version: 0.5.0
- Laravel Version: 9.25.1
- Node Version: v16.14.0
- NPM Version: 8.3.1
- Host operating system: Windows WSL2 (Ubuntu)
- Web Browser & Version: doesn't matter
- Running in Sail / Docker: Docker

### Description:
First to my apology - I'm not quite sure if the issue is placed in the right repository but since it happens after following the vite-plugin docs on la

[2022-08-19 15:36] driesvints commented on #124
Hi there. This was merged before it's released. Please wait until next release day Tuesday before using this.

[2022-08-19 15:36] #124 closed

[2022-08-19 15:36] renky commented on #124
Nevermind - just found the reason when I cloned current master branch of laravel framework - this docs-info is really really new and the corresponding code in Facades is not yet published in a version of the framework - so sorry for that...

[2022-08-21 11:45] mperezsc opened #125 "CORS policy blocks CSS and JS from vite server using Laragon"
- Laravel Vite Plugin Version: 0.5.0
- Laravel Version: 9.24.0
- Node Version: 16.17.0
- NPM Version: 8.15.0
- Host operating system: Windows 10
- Web Browser & Version: Firefox 103.0.2, also happening in google chrome.
- Running in Sail / Docker: No, but running over Laragon 4.0.16

### Description:
Web application is shown without the assets that should come from Vite. I see unstyled and static

[2022-08-22 07:57] driesvints commented on #125
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-08-22 07:57] #125 closed

[2022-08-22 15:55] nathanaelhoun opened #126 "Use functions defined in javascript in blade files"
Currently, when creating a function in `resources/js/app.js`, like this
[code]

This function is not in the generated `public/build/assets/app.XXXXXX.js` file, because it is unused and excluded from the build.
But I want to use it in a blade file, for example by adding add the end of `welcome.blade.php` a reference to the function `<script>helloWorld();</script>`.

I can trick it by using the func

[2022-08-22 22:51] timacdonald commented on #126
Hey!

You can see a few examples of this in the `bootstrap.js` file. What you will want to do is assign things to the window.

[code]

This will then  result in the following `app.js` file.

[code]

If you introduced the `minifyIdentifiers` to try and help with this issue, you should be able to remove it...but you might also just like to actually be able to read JavaScript errors hahaha...ahhh Jav

[2022-08-22 22:51] #126 closed

[2022-08-23 07:47] nathanaelhoun commented on #126
Thanks @timacdonald for the answer, it works by assigning things to the `window`, haven't though of this. Thanks!

I removed `minifyIdentifiers `, because in developement with hot-reload (which is awesome), JS is not minified so errors are readable 😉

[2022-08-23 14:53] stoffpalette opened #127 "Assets are not served when running "sail npm run dev" without an existing build folder after migrating from Mix to Vite on Laravel using Sail"
I migrated from Mix 6.0.6 to Vite 3.0.9 (laravel-vite-plugin 0.5.4) on Laravel 9.2.5.1.

I followed these instructions: https://github.com/laravel/vite-plugin/blob/main/UPGRADE.md#migrating-from-laravel-mix-to-vite

The assets `resources/css/app.css` and `resources/js/app.js` are not served when i start hot-reloading on Sail via `sail npm run dev` (= `vite`) , if i did not build them before via `s

[2022-08-23 23:48] timacdonald commented on #126
oh nice!

[2022-08-24 04:46] jessarcher commented on #127
Hi @stoffpalette,

When running the Vite development server via `npm run dev`, no files are written to your build directory. The assets are served directly from the Vite development server.

While the Vite development server is running, it creates a file at `public/hot` with the address of the server.

When the `@vite` directive detects this file, it loads your assets from the Vite development ser

[2022-08-24 04:46] #127 closed

[2022-08-24 07:14] stoffpalette commented on #127
Hi @jessarcher ,

thanks for your fast reply and the explanation.

Since Vite is not able to serve the files via Sail, something does not seem to run as it should.

The public/hot file is indeed created when i start Vite within the Sail container:

_starting vite:_
[code]

_public/hot-file is created with the following content:_
[code]

Vite injects the following via the @vite directive in the cor

[2022-08-24 08:47] mariom9267 commented on #28
failed to load config from D:\xammp\htdocs\laravel9vite\vite.config.js
error when starting dev server:
ReferenceError: Path is not defined
    at Object.<anonymous> (D:\xammp\htdocs\laravel9vite\vite.config.js:46:20)
    at Module._compile (node:internal/modules/cjs/loader:1126:14)
    at Object._require.extensions.<computed> [as .js] (file:///D:/xammp/htdocs/laravel9vite/node_modules/vite/dist/no

[2022-08-24 08:48] mariom9267 commented on #28
please help me

[2022-08-24 08:48] mariom9267 commented on #28
import { defineConfig } from 'vite';
import laravel from 'laravel-vite-plugin';

export default defineConfig({
    plugins: [
        laravel({
            input: [
                'resources/sass/app.scss',
                'resources/js/app.js',
            ],
            refresh: true,
        }),
    ],
    resolve: {
        alias: {
            'bootstrap':Path.resolve(__dirname ,'node_module

[2022-08-24 09:20] amitleuva1987 commented on #28
@mariom9267 , did you try below?

[code]

[2022-08-24 11:46] jessarcher commented on #127
What happens if you browse directly to http://server.apps.local:5173/resources/js/app.js ? Do you get a successful response with JavaScript content?

[2022-08-24 13:16] stoffpalette commented on #127
@jessarcher
If i do that, i get an ERR_EMPTY_RESPONSE in Chrome.
Similar error message in Firefox: Error: Connection interrupted

[2022-08-25 00:23] jessarcher commented on #127
Sounds like there's some sort of networking issue somewhere between your host machine and the Vite service running in the container.

I'm assuming you're able to access the Sail web server via http://server.apps.local?

[2022-08-25 06:33] stoffpalette commented on #127
@jessarcher
yes. Accessing the Sail web server via http://server.apps.local is working without problems.
Only Vite ressources on the additionally port 5173 are not loading as expected.

[2022-08-26 19:56] andrewl64 commented on #49
@mike-healy Can I know how you ran npm run dev outside wsl? WHen I tried running that in Powershell, I got `'vite' is not recognized as an internal or external command, operable program or batch file.`

`I got it working by running the npm dev server outside of WSL (and I did not need that server hmr localhost block once I did either).`

[2022-08-26 22:45] mike-healy commented on #49
@andrewl64 you'll need to install [npm/nvm directly in Windows](https://docs.microsoft.com/en-us/windows/dev-environment/javascript/nodejs-on-windows). Then you may need to do the `npm install` command from Windows rather than WSL too.

[2022-08-27 17:41] pepijndik opened #130 "TypeError: laravel is not a function"
- Laravel Vite Plugin Version: 0.5.4
- Laravel Version: 9.19
- Node Version: v18.5.0
- NPM Version: 8.18.0
- Host operating system: macOS
- Web Browser & Version: ?
- Running in Sail / Docker: No

### Description:
Can't run the NPM run dev,  vite throws a error that Laravel is not a function although
I have imported the Plugin and installed it.

 installed packages:
[code]
My vite config file,
[co

[2022-08-28 06:41] driesvints commented on #130
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-08-28 06:41] #130 closed

[2022-08-28 10:02] pepijndik commented on #130
Already tried on the discord channel but nobody knows whats wrong.

[2022-08-29 20:49] jannndo commented on #49
i am having the same trouble with vite using laravel sail via wsl2 as @mike-healy  . Is there any update regarding the mentioned combination - laravel sail, vite, wsl2 (docker) ?

[2022-08-30 00:55] Rizky92 opened #132 "Vite asset misses some files when processed"
- Laravel Version: 9.26.1
- PHP Version: 8.1.6
- Database Driver & Version: N/A

Others:
- NodeJS v16
- OS Windows 10

I followed the [documentation about processing static assets](https://laravel.com/docs/9.x/vite#blade-processing-static-assets) to process my static asset files. However, some files were missed by vite.

My files contains a lot of repeated filenames and identical structure, with o

[2022-08-30 07:06] driesvints commented on #132
Transferred this to the vite-plugin repo.

[2022-08-30 08:13] andrewl64 commented on #49
@jannndo I somehow managed to make it work by first adding the `server.hmr.host` block as shown above and then:

1. Ran `npm install` on PowerShell
2. In wsl, I started sail
3. Ran `sail npm run dev` in wsl
4. Ran `npm run dev` in Powershell

And now, I can access **`vite`** via `localhost` and **`Laravel`** via `127.0.0.1` lol

Hot reload works fine but with a slight 1sec delay whenever changes a

[2022-08-30 13:07] ignacio-dev opened #133 "Gets killed on build"
- Laravel Vite Plugin Version: 3.0.9
- Laravel Version: 9.19.0
- Node Version: 16.17.0
- NPM Version: 8.18.0
- Host operating system: macOS 12.1
- Web Browser & Version: Chrome 104.0.5112.101
- Running in Sail / Docker: Sail

### Description:
Processed get killed when running `./vendor/bin/sail npm run build`. This is the terminal output:

[code]

Works fine when running  `./vendor/bin/sail npm ru

[2022-08-30 13:21] ignacio-dev commented on #133
This is the last thing it says when I run on verbose:

[code]

[2022-08-30 14:57] thewebartisan7 commented on #97
Why not add this in docs?

[2022-08-30 21:21] ryanmortier opened #134 "Feature Request: Support dynamic custom base URLs"
I've read the documentation here: https://laravel.com/docs/9.x/vite#custom-base-urls

But it looks like this is all or nothing?

Currently when using Laravel Mix with the `spatie/browsershot` package, in order to render views behind authentication we need to pass the rendered HTML rather than the URL to it like so:

[code]

In the layout file of that particular view, instead of normally using `{{

[2022-08-30 23:41] jessarcher commented on #133
Hi @ignacio-dev,

I've never seen this one before, but it sounds more like a Vite issue than an issue with this plugin.

* Does the build work if you run it _outside_ of the Sail container?
* What does your `vite.config.js` file look like?
* Do you have multiple entry points? If so, can you try with one at a time and see if one, in particular, is causing it?
* If you've narrowed it to down to one

[2022-08-31 07:29] timacdonald commented on #132
@Rizky92 whoa. that was a rabbit hole I just went down on this one!

It seems that files that are 100% identical are causing this issue.

I've created a PR to Vite in an attempt to fix this, although I'm not 100% sure if this is the "correct" fix from a Vite perspective (build tools are hard).

Attempted fix: https://github.com/vitejs/vite/pull/9928

For now you may have to create a "shared" direc

[2022-08-31 08:48] Rizky92 commented on #132
Thank you very much @timacdonald.
I'll try to work around that one. I've checked that apparently the only file with 100% identical was the manifest file.

Once again, thank you.

[2022-08-31 09:38] jannndo commented on #49
@andrewl64 thanks for the workaround Nevertheless its still somehow unpractical if i want to take advantage of the docker and work only with sail. Hope for proper fix too

[2022-08-31 12:22] ryanmortier commented on #134
Hey guys, I'm starting to think this is just a loopback networking issue on my dev environment (WSL2). I'm looking into it more as there is no reason my static assets shouldn't be available to Puppeteer I'm thinking.

Though, I still do believe it would be beneficial to have some function or way to retrieve the compiled asset relative path similar to what the `mix()` function did.

Will update aga

[2022-08-31 12:27] #134 closed

[2022-08-31 18:31] GaelC92 commented on #28
Hello,

I'm not sure if it can be useful, but I had the same trouble using sail on an external server.

I solved the problem with the aforementioned entry in the vite.config.js, with the name of the server (instead of localhost – which makes sense for an external dev server).

server: {
    hmr: {
        host: '<insert the name of your server here>',
    },
},

[2022-09-01 03:21] timacdonald commented on #132
Will close this as this isn't a bug in the plugin. We can follow along upstream and see if we can get anything sorted.

[2022-09-01 03:21] #132 closed

[2022-09-01 03:43] timacdonald commented on #132
Looks like the PR is being considered for Vite `3.1`

[2022-09-02 10:15] driesvints commented on #133
@ignacio-dev feel free to comment when you can and we'll re-open

[2022-09-02 10:15] #133 closed

[2022-09-02 15:37] OmarBouziane commented on #127
Browse http://server.apps.local:5173/resources/js/app.js  and the you need to accept the security warning from there., means for the port: 5173

[2022-09-04 11:23] nhedger opened #136 "Using `"type": "module"` in `package.json` prevents the development server from starting"
- Laravel Vite Plugin Version: 0.6.0
- Laravel Version: 9.27.0
- Node Version: `16.14.2`, `18.8.0`
- NPM Version: `8.5.0`, `8.18.0`
- Vite Version: 3.0.9
- Host operating system: macOS 12.5.1
- Web Browser & Version: irrelevant
- Running in Sail / Docker: No

### Description:

Declaring `"type": "module"` in the root `package.json` prevents the development server from starting with the following e

[2022-09-04 13:19] davidjr82 opened #137 "Vite is refreshing always in windows"
- Laravel Version: 9.27.0
- PHP Version: 8.1.2
- Database Driver & Version: NA
- OS: Windows 11, execute directly (no docker, no sail, no WSL)

### Description:
When using `refresh: false` in `vite.config.js`, the browser is still hot reloaded as soon as a file is saved.

### Steps To Reproduce:

Using this `vite.config.js` config file, execute `npm run dev` and `serve` to see the website in the b

[2022-09-05 01:42] timacdonald commented on #136
@nhedger what is the benefit of adding that key to the `package.json` for a project built with Vite?

[2022-09-05 06:46] stoffpalette commented on #127
@OmarBouziane
Does not help. There is no security warnig. I just get an EMPTY RESPONSE Error (Chrome: ERR_EMPTY_RESPONSE)

[2022-09-05 06:56] driesvints commented on #136
I don't think that's a setting you need for building an app but rather for NPM packages. Just stick to the defaults when building a Laravel app.

[2022-09-05 06:56] #136 closed

[2022-09-05 07:47] driesvints commented on #137
Transferred to `vite-plugin` repo.

[2022-09-05 08:15] davidjr82 commented on #137
- Tailwind version: tailwindcss@3.1.8
- Also using [hotwired turbo](https://github.com/hotwired/turbo): @hotwired/turbo@7.2.0-beta.2

The refresh happens when modifying and saving, for example, the app.js file, or the login.blade.php file (using breeze).

`npm run dev`
![imagen](https://user-images.githubusercontent.com/4275886/188400347-3ce951e5-0a61-4d91-85c6-16d6c163e24b.png)

`php artisan serv

[2022-09-05 08:21] timacdonald commented on #137
Does `hotwired.js` import any CSS?

[2022-09-05 08:23] timacdonald commented on #137
I should clarify - does any of your JS import CSS? be that `hotwired.js` or your `app.js`. Basically anything in your entrypoint that also includes hotwired.

[2022-09-05 08:27] davidjr82 commented on #137
No, if I comment everything in my app.js file and modify/save login.blade.php, the refresh is still happening. Attached log of npm run dev with that case:

![imagen](https://user-images.githubusercontent.com/4275886/188403829-719c87e0-a30f-4645-9377-ae183f4ebe8d.png)

[2022-09-05 08:30] davidjr82 commented on #137
If I comment the content of app.css, the refresh stop happening:

`app.css`
![imagen](https://user-images.githubusercontent.com/4275886/188404760-320312bd-d475-4853-ad5a-ad08392de1f6.png)

[2022-09-05 08:33] timacdonald commented on #137
This behaviour is expected and is not introduced by the Laravel plugin.

See: https://github.com/vitejs/vite/issues/9512#issuecomment-1208133617

Vite has to do a refresh as there are circular dependencies when using Tailwind.

[2022-09-05 08:33] #137 closed

[2022-09-05 08:34] davidjr82 commented on #137
Thanks for looking into it! @timacdonald

[2022-09-05 08:36] timacdonald commented on #137
no troubles

[2022-09-09 21:05] daugaard47 opened #139 "Laragon Hot Reloading"
Does anyone have a working `vite.config.js` file for Laravel and Laragon.
Using:
• Windows
• Laravel 9
• `"vite": "^3.1.0"` and `"laravel-vite-plugin": "^0.6.0",`

**Main issue: I cannot get the Hot Reloading working in my Laravel project.**

Going off these docs https://laravel-vite.dev/guide/essentials/development.html#using-http-over-tls I create the `DEV_SERVER_URL` in my Laravel `.env` file,

[2022-09-09 21:12] driesvints commented on #139
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-09-09 21:12] #139 closed

[2022-09-10 03:42] daugaard47 commented on #139
If anyone comes across this issue, I got it working by doing the following.
This works with the latest version. Since I use SSL (HTTPS) I had to add my Laragon key and crt.

**vite.config.js**
[code]

[2022-09-12 15:51] amlxv opened #140 "Laravel Vite page return 404 after restarting the server"
- Laravel Vite Plugin Version: 0.6.0
- Laravel Version: 9.29.0
- Node Version: 18.7.0
- PNPM Version: 7.10.0
- Host operating system: Windows 11 Home Single Language 10.0.22000
- Web Browser & Version: Chrome 105.0.5195.102
- Running in Sail / Docker: No

### Description:
I have tried reproducing using Vite+TS, but the page still works even if the server is automatically restarted.

![Screenshot 2

[2022-09-12 17:30] Aigarsss commented on #127
Yeah, this does not work for me. I am not using sail, but just Docker + Laravel + Vite + Svelte. None of the solutions I could find on this help.
- Mapped the '5173:5173' ports on app container
- Tried updating the build/hot file
- Added server.hmr.host = localhost
- Tried running dev with --host

None of these help, even on "laravel-vite-plugin": "^0.6.0",

So am a bit stumped. Works if you run n

[2022-09-13 00:55] timacdonald commented on #140
Thanks for letting us know.

Fixed with https://github.com/laravel/vite-plugin/pull/141

[2022-09-13 00:55] #140 closed

[2022-09-13 22:45] Sebastiangperez opened #142 "Vite won't work if public folder is outside of laravel folder structure"
- Laravel Vite Plugin Version: 0.6.0
- Laravel Version: 9.19
- Node Version: v14.18.2
- NPM Version: 8.19.0
- Host operating system: Windows / Linux / macOS Linux
- Web Browser & Version: Chorme
- Running in Sail / Docker: No

### Description:
I came across with an issue where i need to separate all laravel core framework except public folder and his files ,
i made a directory same level a public

[2022-09-13 23:28] timacdonald commented on #142
You may need to specify the [`publicDirectory` configuration option](https://github.com/laravel/vite-plugin/blob/main/src/index.ts#L14-L19) in your Laravel Vite plugin config.

However, keep in mind that [Laravel doesn't support changing the public path](https://github.com/laravel/framework/issues/44001#issuecomment-1236656300).

[2022-09-13 23:28] #142 closed

[2022-09-13 23:35] Sebastiangperez commented on #142
Sorry , but is not working , i tried to do this , but keeps pointing /Laravel/../public/build/manifest.json where laravel is the framework folder and the public is where the index.php and all other files are.
Laravel and Public folder are in the same level.
i change the name  "build" folder for "assets" and all files are in /public/assets/ and there is the manifest.json.

About changing public pat

[2022-09-14 14:50] Sebastiangperez commented on #142
I don't wanna say anything but i did it .. it worked ..

[2022-09-14 16:09] julien-fontaine opened #144 "Laravel Vite plugin breaks Vite's publicDir option"
- Laravel Vite Plugin Version: 0.6.0
- Laravel Version: 9.30.0
- Node Version: 16.17.0
- PNPM Version: 7.9.5
- Host operating system: Linux
- Running in Sail / Docker: Docker

### Description:

The Laravel Vite plugin breaks Vite's `publicDir` option, causing the missing feature described in [Laravel documentation](https://laravel.com/docs/9.x/vite#vite-or-mix).

[code]

### Steps To Reproduce:

1

[2022-09-14 16:17] innocenzi commented on #144
Is there anything that prevents you from putting these files in `public` directly?

[2022-09-14 16:55] julien-fontaine commented on #144
In our team we usually put every assets inside the resources directory to avoid misleading and forgetting when something must be updated. If we put them directly inside the public directory, they would be also mixed with compiled assets, which would increase mistakes.

[2022-09-14 17:15] innocenzi commented on #144
Setting `publidDir` would mean assets in that directory would be served from the Vite server, but not from your actual web server.

eg.
You have `/resources/non-compiled-files/image.png`
In dev, you use `/image.png` from `http://localhost` -> `http://localhost/image.png` is generated but it will 404

A better option would be to just put files in `/public` (or somewhere in the storage that you'd li

[2022-09-15 07:15] driesvints commented on #144
Please see the above.

Thanks @innocenzi

[2022-09-15 07:15] #144 closed

[2022-09-15 13:32] julien-fontaine commented on #144
@innocenzi I don't get your point, I don't get a 404 when doing this using Vite, without Laravel Vite plugin. It works as expected and compiled files are indeed served by the web server, as it would also work if I stop the Vite server, once files are compiled.

Compiled assets are not versioned, but if we follow your advise, in development environment they would be mixed with uncompiled assets, wh

[2022-09-15 13:37] innocenzi commented on #144
@julien-fontaine Can you show me with code how you create a url to this `/resources/non-compiled-files/image.png` that works in both development and production?

[2022-09-15 14:07] AtlasApollo commented on #28
Thank you very much @amitleuva1987 your message above helped me.

[2022-09-15 14:16] julien-fontaine commented on #144
I use `php asset('/image.png')` and cannot use `php Vite::asset('/image.png')`, because Laravel only looks for files listed in the `manifest.json`, and this kind of files are not listed in. Furthermore, Laravel expects this file to be inside the build directory, which is not the case according to the [Vite documentation](https://vitejs.dev/guide/assets.html#the-public-directory).
However, this is

[2022-09-15 17:34] innocenzi commented on #144
Yes that's what I meant and that's what I explained in the first message. I still don't get how you'd get the compiled assets and other stuff mixed up since everything is inside `public/assets`:

[code]

You can even configure Vite to use a sub-directory, so `manifest.json` could be in `public/build` and assets would be in `public/build/assets` for instance.

Further, you could just link the stora

[2022-09-16 10:55] webparadoxer opened #145 "build error"
- Laravel Vite Plugin Version: #.#.#
- Laravel Version: #.#.#
 9.30.1
- Node Version: #.#.#
v18.8.0
- NPM Version: #.#.#
 8.18.0
- Host operating system: Windows / Linux / macOS #.#.#
macOS
- Web Browser & Version: ?
- Running in Valet

### Description:

The resource is not copied during the build: Unable to locate file in Vite manifest: resources/us/images/favicon.svg.

But everything works when

[2022-09-16 11:25] webparadoxer opened #146 "Aliases in blade"
Is it possible to make aliases for the blade to specify the path so `<link rel="icon" href="{{ Vite::asset('@/images/favicon.svg') }}" sizes="any">`

[code]

[2022-09-18 23:17] timacdonald commented on #146
@webparadoxer I'm proposing that we lean on Laravel's Macro feature for this, rather than introducing a new concept.

This would allow you to do the following:

[code]

[code]

See: https://github.com/laravel/framework/pull/44198

[2022-09-18 23:17] #146 closed

[2022-09-19 00:08] timacdonald commented on #145
I think you just have the path wrong. The path is relative to current file.

[code]

So you need the following path:

[code]

[2022-09-19 00:08] #145 closed

[2022-09-19 00:08] timacdonald commented on #145
Re aliases: https://github.com/laravel/framework/pull/44198

[2022-09-19 04:24] webparadoxer commented on #146
[code]

`<img src="@php(a('images/logo.svg'))" alt="">`

Yes, you can do so here and shorter, but of course I want to prescribe settings not in several places, this will avoid errors in the assembly and coding.

[2022-09-19 05:21] timacdonald commented on #146
See the comment here for a solution to share your aliases between your JS and PHP implementations: https://github.com/laravel/framework/pull/44198#issuecomment-1250581953

[2022-09-19 09:38] cookiies commented on #127
Did you manage to get something working? I'm in a similar situation using Docker+Laravel+Vite, having tried multiple configs:

<details><summary><b>vite.config.ts</b></summary>
<p>

[code]

</p>
</details>
<details><summary><b>docker-compose.yml</b></summary>
<p>

[code]

[2022-09-19 10:54] stoffpalette commented on #127
@cookiies
Still no solution here. Forced to work without hot-reloading at the moment.
@jessarcher
Shouldn't the ticket be reopened as a bug?

[2022-09-19 12:32] Aigarsss commented on #127
I agree, as for now, the only way to get changes is to run `npm run build` on every change

[2022-09-19 22:25] rrpadilla commented on #81
hi @jessarcher, how / when the "public/hot" file gets delete? If I use "Command + C" to cancel the process "npm run dev" the hot file is not deleted. It is a good idea to delete the hot file on build.

[2022-09-19 23:44] jessarcher commented on #127
Are you able to try it on a fresh Laravel project with Sail and something like Breeze, to see whether the default setup works on your machine?

First, make sure you have no running Docker containers that could conflict by checking `docker ps`.

Then run the following:

[code]

Then in another terminal in the same directory:

[code]

If I follow those steps and then browse to http://localhost, I ca

[2022-09-20 00:27] timacdonald commented on #127
I've just run the exact steps verbatim outline above and can confirm that things are working as expected on my Mac.

[2022-09-20 15:39] stoffpalette commented on #127
@jessarcher
couldn't get that installation work, since of several problems during single installation steps. therefore i stopped that test.

BUT: Additional research when trying to fix some of the errors during installation brought me to an an article that luckily fixed my problem!

What was missing, is the `--host` parameter, that obviously must be appended to the `vite` command within the script

[2022-09-21 00:05] jessarcher commented on #127
Glad you got it sorted @stoffpalette! :tada:

The `--host` flag is the equivalent of setting `server.host` to `true` in your `vite.config.js`. This tells Vite to listen on _all_ addresses, not just `localhost`. It's important when running inside Docker because listening only on the container's localhost address will make Vite inaccessible from outside.

When using the Laravel Vite plugin with Lara

[2022-09-21 06:53] stoffpalette commented on #127
@jessarcher

something is strange here.

Why do i have to add `--host` (without setting the host value here) inside my `package.json` file
although i had already set the `server.host` value (and still do) within my `vite.config.js` ?

I just checked it again, it definitly works only, when i just add `--host` inside `package.json`.

Here is my current `vite.config.js`:

[code]

Note: `server.apps.l

[2022-09-21 07:54] jessarcher commented on #127
If `server.apps.local` resolves to `127.0.0.1` then by specifying it for `server.host` you're telling Vite to only listen on the localhost of the container (which is not the localhost of your host machine) which would make Vite inaccessible outside of the container.

If running Vite inside Sail's main container, then you should be able to remove `server.host` from your config and remove the `--hos

[2022-09-21 08:13] stoffpalette commented on #127
@jessarcher
i just tested what you described - these combination **_only_** work, when i **_additionally_** set `server.hmr.host` to _'server.apps.local'_

working example with `server.hmr.host` and **_without_** `server.host` and `--host` option:

_vite.config.js:_
[code]

package.json (snippet):
[code]

[2022-09-23 20:58] bblumenfelder opened #147 "Laravel Vite: Assets blocked/Mixed Content issues in production environment"
- Laravel Vite Plugin Version: 0.6.0
- Laravel Version: 9.2.9
- Node Version: 14.18.0
- NPM Version: 8.51
- Host operating system: Ubuntu 20.04
- Web Browser & Version: Chrome 105.0.5195.127; Firefox 105.0
- Running in Sail / Docker: No

### Description:
I'm hosting my App on an EC2-instance behind an Elastic Load Balancer which manages my SSL-Certificate. On this EC2-Instance my nginx-configurati

[2022-09-24 08:29] rakeshappycodes opened #148 "Not able to load background images from CSS in vite"
- Laravel Vite Plugin Version: 0.6.0
- Laravel Version: 9.19
- Node Version: v18.5.0
- NPM Version: 8.12.1
- Host operating system: Linux
- Web Browser & Version: Chrome
- Running in Sail / Docker: No

### Description:
Not able to load background images from css when using vite [example](https://laravel-vite.dev/guide/essentials/working-with-assets.html#references-in-code)  during `npm run dev`

[

[2022-09-24 14:44] kitro opened #149 "Generate custom manifest.json file name"
Vite provides [a way to specify](https://vitejs.dev/config/build-options.html#build-manifest) the name of the `manifest.json`, many Laravel projects using a modular structure inside each module have their own `vite.config.js` file. Currently, [the default file name is `manifest.json` ](https://github.com/laravel/vite-plugin/blob/main/src/index.ts#L127) I think it will be nice to get the file name

[2022-09-26 07:25] driesvints commented on #148
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-09-26 07:25] #148 closed

[2022-09-26 07:25] driesvints commented on #147
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-09-26 07:25] #147 closed

[2022-09-26 23:48] timacdonald commented on #148
@rakeshappycodes try using relative URL paths e.g. `../images/wave.svg`

[code]

[code]

[2022-09-27 03:36] jessarcher commented on #149
I've created https://github.com/laravel/vite-plugin/pull/150 that will respect the manifest config if provided :+1:

For the Vite facade, you can extend it and override the `manifestPath` method.

[2022-09-27 03:36] #149 closed

[2022-09-30 22:21] stebogit opened #152 "Vite watches the `vendor` folder"
- Laravel Vite Plugin Version: 0.6.1
- Laravel Version: 9.31.0
- Node Version: 16.17.1
- NPM Version: 8.15.0
- Host operating system: Linux (Homestead, Ubuntu 18.04.5 LTS)
- Web Browser & Version: -
- Running in Sail / Docker: No

### Description:
Just installed Breeze (`php artisan breeze:install`) and tried to serve the assets (`npm run dev`) and I got this error, suggesting vite is watching the

[2022-10-02 22:04] timacdonald commented on #152
Hi @stebogit,

I'm unable to reproduce this with a fresh Laravel installation. I can only get Vite to watch the vendor directory if I explicitly configure it to watch it.

Can you create a reproduction repository for this and we can re-open the issue?

[code]

[2022-10-02 22:04] #152 closed

[2022-10-05 02:54] curiousteam commented on #28
Thanks, it saved my day!!!

[2022-10-17 19:04] colbyalbo commented on #139
Just wanted to add to this, in case anyone runs into CORS issues like I did.

My _vite.config.js_ is exactly as the OP's. But I was getting CORS origin errors when using HMR (npm run dev), and the css/js assets were blocked, b/c the assets are coming from `https://127.0.0.1:5173`
Adding the ASSET_URL to the .env file and setting it to match the APP_URL resolved the issues:

`ASSET_URL="${APP_URL}"

[2022-10-18 04:50] michaellindahl opened #155 "Vite build requires composer install which requires Vite build"
- Laravel Vite Plugin Version: 0.5.3
- Laravel Version: v9.25.1
- Node Version: v18.7.0
- NPM Version: 8.15.0

### Description:

When attempting to build and run Vite & Composer from a new repository, where the build process previously hasn't been run a circular dependency is hit. Running `composer install` triggers `Vite.php:139` which expects a build manifest in `public/build/manifest.json`. How

[2022-10-19 13:39] colbyalbo commented on #139
Just a quick follow up, my above work around broke the very next day. I found that there was more pieces to the puzzle.
Note:
- This may just be needed for Laragon users; I dont know about WSL/Sail/Docker setups.
- The setup below only seems to work in Firefox. I haven't figured out Chrome, which is throwing an incompatible ssl key usage error.

Turns out the ASSET_URL environment variable is not

[2022-10-19 17:08] Geovanek commented on #127
I'm using Sail withi Laravel UI.

Just adding this solving my problem:
`server: {
        hmr: {
            host: 'localhost'
        }
    },`

[2022-10-20 00:56] timacdonald commented on #155
It sounds like this might be a project specific issue.

The Laravel skeleton and the starter kits don't have any circular dependencies like this, so I would recommend addressing this one in your local setup.

[2022-10-20 00:56] #155 closed

[2022-10-21 23:20] benfreke commented on #127
For the sake of completeness, and since this is the only issue I could find that referenced the problem in the repository.

I run Laravel behind a reverse proxy, with every service separated. So there is a separate Node, PHP, Workers, Nginx, etc. For me, I had to make 2 changes to the vite config for this to work. Both of those changes are explained above if you read the entire thread btw.

One is

[2022-10-22 05:06] karchx commented on #28
This worked for me:

[code]

[2022-10-26 15:19] Mtillmann opened #156 "Make HMR client protocol better configurable"
https://github.com/laravel/vite-plugin/blob/2abd0b510b43061fab0027d5492547ce9a91dcad/src/index.ts#L393

I'm working with DDEV and spend some time today getting the HMR working. It'd be great if I could simply set the client protocol to `https` and have it take effect. At the moment I have to set it to `wss` in order to have my _hot_ dev server frontend URLs written with appropriate protocol.

Sinc

[2022-10-26 22:41] timacdonald commented on #132
Just a heads up that the upstream fix for this has now been tagged in vite `3.2.0`.

[2022-10-26 22:49] timacdonald commented on #156
@Mtillmann can you do this already via Vite itself with the [`server.hmr.protocol` option](https://vitejs.dev/config/server-options.html#server-hmr)?

[2022-10-27 18:49] RahulDey12 opened #157 "Vite compilation is getting stuck"
- Laravel Vite Plugin Version: 0.7
- Laravel Version: 9.x
- Node Version: 16.13.2
- NPM Version: 8.3.2
- Host operating system: AL2 (Amazon Linux 2)
- Running in Sail / Docker: No

### Description:
Hi, I am using Laravel and Vite for a production application that currently has 200GB of data in the `storage/app` directory, and then when I am trying to build it is getting stuck. But if I build after

[2022-10-27 21:36] jessarcher commented on #157
Hey,

This sounds like an issue with Vite/Rollup rather than this plugin. I'm not aware of anything we could do to ignore that directory.

I tested your inotifywatch suggestion _without_ this plugin (and an empty `index.html` - the default Vite entry point) and the behaviour is the same. I then tested `npx rollup index.html` and it still hits everything in the storage directory. I can't see any ro

[2022-10-27 21:36] #157 closed

[2022-10-27 22:04] Tedderouni commented on #47
In my case (using Vite 3.1.8), the resource URLs are under `http://[::1]:5173/`, so I added this rule in my `brave://adblock/` Custom Filters:

[code]

According to the [docs](https://help.eyeo.com/en/adblockplus/how-to-write-filters), multiple domains can be specified using | as the separator, so you could do something like:

[code]

Or, just specifying a domain of `test` works for me to allow an

[2022-10-28 10:39] Mtillmann commented on #156
In a regular vite setup this might work but in this codebase the protocol is only set to `https` when the `server.hmr.protocol` is set to `wss`. It's used to derive the `viteServerDevUrl`, which is then written into `public/hot` where it's picked up and used in the blade output to reference the HMR assets.

When I use DDEV, the regular exposed URL of my web container will be something like `https:

[2022-10-31 15:55] lewislarsen opened #158 "New installation of WSL2, Docker and Laravel returning 404 on assets"
- Laravel Vite Plugin Version: v0.6.0
- Laravel Version: v9.19
- Node Version: v16.18.0
- NPM Version: v8.19.2
- Host operating system: Windows
- Web Browser & Version: Firefox 106.0.2 (64-bit)
- Running in Sail / Docker: Sail
- Docker Desktop Version: 4.13.1 (90346)
- Windows Version:  Version 2H12 (OS Build 22000.1098)
- Ubuntu Version: Ubuntu 22.04.1 LTS

### Description:
My typical development

[2022-10-31 16:16] driesvints commented on #158
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-10-31 16:16] #158 closed

[2022-11-08 04:07] timacdonald commented on #156
@Mtillmann sorry for the slow reply on this one.

Although the `https` is a valid protocol in general, I'm not sure it makes sense for the HMR server, as it does not run over HTTPS, and runs over websockets via `wss`.

- [`server.https`](https://vitejs.dev/config/server-options.html#server-https) can be used to make the server (HTTP interface) listen on `https`.
- [`server.hmr.protocol`](https://v

[2022-11-08 10:17] Mtillmann commented on #156
No worries, I know it's an edge case.

In my environment (ddev) the dev site runs on https so I need the HMR URL to be https as well, otherwise HMR won't work.

I thought this would be a more common issue with others who work with docker but apparently it's very specific to ddev.

I've written a small [middleware that lets one change the content of the public/hot file](https://gist.github.com/Mtil

[2022-11-09 17:51] kde99 opened #160 "Production builds are not working"
- Laravel Vite Plugin Version: 0.7.0
- Laravel Version: v9.39.0
- Node Version: v16.14.2
- NPM Version: 8.5.0
- Host operating system: Windows 10
- Web Browser & Version: Chrome 107.0.5304.88
- Running in Sail / Docker: No

### Description:
I wanted to deploy my app so I ran "npm run build" to build the JS dependencies. It produced the build folder with the js and css files. I uploaded it to the s

[2022-11-09 19:03] kde99 commented on #160
Ok so the issue was the DataTables import, still don't know why it works in dev mode but now I can fix it.

[2022-11-09 19:03] #160 closed

[2022-11-10 12:28] ThisIsPuzzle commented on #65
Hehe, i just got the error on the developement project - same code as the one on production , which was live for a few months now - and i couldn't understand why.

After i made the upgrade from webpack to vite, i forgot to delete the generated views from blade ( php artisan view:clear ) which was using the app.js from public folder...

The **@vite()** accepts as a paramter the config name from con

[2022-11-11 07:36] mt-u opened #161 "Type error `TS2322` with `resolvePageComponent` + Typescript + InertiaJs"
- Laravel Vite Plugin Version: 0.6.1
- Laravel Version: 9.39.0
- Node Version: 16.17.0
- NPM Version: 8.19.1
- Host operating system: Ubuntu22.04(Laravel Sail 8.1) on Docker on Ubuntu20.04(WSL2)
- Web Browser & Version: no relation
- Running in Sail / Docker: Sail

### Description:
I'm getting the following error when running Typescript type checking `npx vue-tsc --noEmit`:
[code]

### Steps To Re

[2022-11-11 10:38] driesvints commented on #161
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-11-11 10:38] #161 closed

[2022-11-14 10:47] garbinmarcelo commented on #97
Hi @ercanertan , did you find anything about creating multiple configurations with this vite plugin? If yes, could you share?

@jessarcher If you have a pointer on this issue I would be happy. (I'm new here)

I'm migrating from webpack and I'm looking for it and so far I haven't found anything yet.

[2022-11-14 10:54] ercanertan commented on #97
@garbinmarcelo
Unfortunately I couldn't find any solution. I am keeping webpack with mix.

[2022-11-14 12:23] innocenzi opened #162 "`valetTls` should not be an option, certificates should be inferred from the environment"
## Discussion

I'm opening this issue to find a truly environment-agnostic solution to loading certificates. For reference, my implementation works in all three of the situations described in the context below.

https://github.com/innocenzi/laravel-vite/blob/main/vite-plugin-laravel/src/config.ts#L245

I think this should be implemented this way in this plugin, but that would be a breaking change

[2022-11-14 13:11] driesvints commented on #162
Hey there. I see you've already opened a PR so let's see how that goes.

[2022-11-14 13:11] #162 closed

[2022-11-14 22:55] timacdonald commented on #156
Hey @Mtillmann I'm gonna close this one as I'm unable to replicate the issue.

If I do the following, for example...

[code]

The server is running on HTTPS.

<img width="419" alt="Screen Shot 2022-11-15 at 9 54 10 am" src="https://user-images.githubusercontent.com/24803032/201785050-d6b47084-f19a-4ae3-950a-415cbe0410a1.png">

Contents of the hot file...

[code]

If you can create a bare-bones rep

[2022-11-14 22:55] #156 closed

[2022-11-15 05:09] jimohalloran opened #164 "Can't run vitest tests in CI"
I've run into an issue where laravel-vite-plugin is preventing vitest tests from running in a CI environment (BitBucket Pipelines in my case, but anything that sets the CI variable would do it).

- Laravel Vite Plugin Version: 0.7.0 (0.6.1 or later)
- Laravel Version: 9.36.4
- Node Version: 16.14.0
- NPM Version: 8.3.1
- Host operating system: Linux
- Web Browser & Version: N/A
- Running in Sail /

[2022-11-15 05:16] timacdonald commented on #164
You can set the env `LARAVEL_BYPASS_ENV_CHECK=1` to bypass the env check.

[2022-11-15 05:16] #164 closed

[2022-11-15 05:43] jimohalloran commented on #164
That's absolutely the case, and does resolve the issue.  But laravel-vite-plugin doesn't require setting an environment variable  for production builds (because it knows HMR isn't involved).  However it does block a vitest CI build because it falsely believes HMR is required.  It's just not consistent.

If the solution is to require setting of the environment variable for vitest can this be docume

[2022-11-15 07:26] driesvints commented on #164
We’d appreciate a pr to the docs 👍

[2022-11-15 08:03] timacdonald commented on #164
I think we should just improve the error message to mention it. I don’t think we should document this tbh.

[2022-11-15 11:38] dev-yagnik commented on #65
.

[2022-11-17 00:29] timacdonald commented on #164
PR to improve the error message: https://github.com/laravel/vite-plugin/pull/165

[2022-11-17 17:57] bedus-creation commented on #97
may be with this?

https://laravel-vite.dev/guide/extra-topics/multiple-configurations.html

[2022-11-17 18:17] garbinmarcelo commented on #97
Hello, this is not the official package and everything indicates that it will be discontinued.

I managed to do it the following way, I created 2 files:

`vite.config.js`
[code]

`vite.painel.config.js` (in my case this is the admin)
[code]

In my admin blade layout I use the following:
`@vite(['resources/painel/app.scss', 'resources/painel/app.js'])`

To set the correct panel build folder I defin

[2022-11-18 07:21] ngstwr opened #167 "index.js doesn't have the latest version changes"
- Laravel Vite Plugin Version: 0.7.0
- Laravel Version: 9.32
- Node Version: 17.4.1
- NPM Version: 8.19.2
- Host operating system: macOS
- Web Browser & Version: Chrome

### Description:
I added this package using
yarn add laravel-vite-plugin -D

It did add the package, however the compiled index.js have following instead of what is supposed to be according to new version changelog:
manifest: !ssr

[2022-11-18 09:38] ngstwr commented on #167
Apologies, I didn't think the issue that I mentioned required further steps to reproduce!

As I am not reporting any bug on the package itself, I am just informing that the package installed via npm command doesn't have the latest version changes.

Anyway here are the steps required:

### Steps To Reproduce:
1. Install laravel-vite-plugin on your project:
yarn add laravel-vite-plugin -D

2. On vit

[2022-11-18 09:56] ngstwr opened #168 "NPM Package laravel-vite-plugin files are inconsistent with this repo"
- Laravel Vite Plugin Version: 0.7.0
- Laravel Version: 9.32
- Node Version: 17.4.1
- NPM Version: 8.19.2
- Host operating system: macOS
- Web Browser & Version: Chrome

### Description:

The package installed via npm command doesn't have the latest version changes.

The added laravel-vite-plugin have the compiled index.js, which has following instead of what is supposed to be according to new ver

[2022-11-18 10:00] driesvints commented on #168
Okay I see it now. @jessarcher @timacdonald do you have any idea why the latest release doesn't have the correct files?

[2022-11-18 20:19] ferdinan661 commented on #28
thanks it works, just enable ports in `docker-compose.yml`

[2022-11-21 03:44] ngstwr commented on #168
Is there any update on this?

People must have been getting the stale index.js for the last 25 days!

If someone can point out the cause, perhaps I can contribute!

[2022-11-21 04:25] timacdonald commented on #168
@ngstwr we are looking at it internally and will hopefully have it resolved shortly.

[2022-11-22 06:19] timacdonald commented on #168
We've just pushed a new version and my testing is now showing me that the expected files are on NPM. Closing this one, but let us know if you are still having issues.

[2022-11-22 06:19] #168 closed

[2022-11-23 23:37] pabbec opened #171 "Vite publicDir does not copy and serve files correctly"
- Laravel Vite Plugin Version: 0.7.1
- Laravel Version: 9.41.0
- Node Version: 18.8.0
- NPM Version: 8.18.0
- Host operating system: Windows / Linux / macOS Windows 10
- Web Browser & Version: Firefox/Chrome?
- Running in Sail / Docker: No

### Description:
Vite does not copy files from publicDir folder when running npm run build.

### Steps To Reproduce:
- In an standar and clean installation of

[2022-11-24 00:42] jessarcher commented on #171
Hey @pabbec

This plugin intentionally disables the `publicDir` setting because it doesn't really make sense when using a backend framework like Laravel as it already has its own public directory that is served.

https://github.com/laravel/vite-plugin/blob/7afae12257e256823422f909cc6c8bfeb24171ce/src/index.ts#L125

Could you not just store these assets directly in Laravel's public directory yourse

[2022-11-24 00:42] #171 closed

[2022-11-24 01:12] pabbec commented on #171
Thanks jessarcher!

Yes, I have done this. But I've run into another problem:

For example, I have in my `laravel.input` of `vite.config.js`:

[code]

I have a image file in the public folder:
[code]
in `app.scss`
[code]

When I run `npm run dev`, the app.scss is transpiled, but in dev mode, Vite can't find the files referenced in this scss because it tries to serve it from the development server:

[2022-11-24 05:44] ibnu-ja opened #172 "Run command after watching"
I export my ziggy route to JSON because I write my own ziggy-js plugin

But I want laravel to run artisan command when file is watched. Is it possible to do something like this?

[code]

here's example from [innocenzi/laravel-vite](https://laravel-vite.dev/configuration/vite-plugin.html#example) plugin

example for [mix](https://github.com/tighten/ziggy/blob/main/README.md?plain=1#L537)

[2022-11-24 08:04] driesvints commented on #172
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-11-24 08:04] #172 closed

[2022-11-25 02:20] jessarcher commented on #171
Hey @pabbec,

I was able to replicate your issue and I'm wondering whether this plugin should either not touch the `publicDir` option, or only set it to false during the build. I'll have a chat with @timacdonald about it.

[2022-11-25 08:44] usmanfarooqch opened #174 "Version issue"
- Laravel Vite Plugin Version: 0.6.1
- Laravel Version: ^9.19
- Node Version: 18.12.1
- NPM Version: 8.19.2
- Host operating system: Windows 10 Pro
- Web Browser & Version: Firefox version 107.6 (64bit)
- Running in Sail / Docker: No

### Description:
Package update issue

### Steps To Reproduce:
When I run command "npm outdated" it gives this. Even though i have run the command npm update
![image

[2022-11-25 08:47] driesvints commented on #174
Hi there. Because you're working with 0.x versions the "x" is treated as a major version. You'll manually need to update your package.json to get the latest version.

[2022-11-25 08:47] #174 closed

[2022-11-25 08:57] usmanfarooqch commented on #174
thanks @driesvints done updating

[2022-11-25 09:30] pabbec commented on #171
Thanks Jess.

I have forked and harcoded the plugin to be able to use that option. At the
moment, placing the route that I need in publicDir. In a few days I will
see to study the plugin code well to be able to do it from vite.config.js.

And I had to do something similar with \Illuminate\Foundation\Vite.php by
extending this class and adding a method to work with the publicDir assets.

I find thi

[2022-11-25 16:25] Shhu opened #175 "Incorrect dev port"
- Laravel Vite Plugin Version: 0.7.1
- Laravel Version: 9.41.0
- Node Version: 18.12.1
- NPM Version: 8.19.2
- Host operating system: Windows 10
- Web Browser & Version: Chrome 107.0.5304.122
- Running in Sail / Docker: No (WSL2)

### Description:
When i use in vite.config.ts
[code]
`@vite('resources/scripts/main.ts')` echo `http://localhost:3000/resources/scripts/main.ts`
how can i use 3001 inste

[2022-11-25 16:49] #175 closed

[2022-11-25 16:49] Shhu commented on #175
Was an issue with the package innocenzi/laravel-vite overwriting @vite

[2022-11-28 12:53] zynth666 commented on #161
Hi I have the same problem when trying to migrate the standard Laravel Breeze scaffolded app to typescript.

![grafik](https://user-images.githubusercontent.com/11150388/204278634-476dcd1f-4745-44df-8c02-c8511a2f3834.png)

An option to scaffold the project with typescript enabled out of the box would be awesome, or a tutorial where the steps that are needed to achieve this are outlined. Right now,

[2022-11-28 14:00] karchx commented on #28
We must take a deep breath, we must not go crazy, really not everything is rosy, but I feel that the end of this is to deal with those problems once and create your scripts or Makefiles to automate future applications.
On Windows maybe you should place the ```hot``` file, many times in ```public/hot``` and edit it for ```http:://localhost:5173```, always check your browser console to see where it

[2022-11-28 15:04] warmwhisky commented on #28
@karchx I wish I could stop the "crazy" but as I say trying to fix environment issues is over taking actual work these days.

I went through this thread and tried the various suggestions to no avail. And strangely now it does the same on my windows pc at home. Luckily for me I have Laravel Mix setup side by side with Vite so I am using Mix for the time being just so I can get some work done.

[2022-11-28 15:31] karchx commented on #28
I understand the suffering, but sometimes it is necessary to get used to new things, it is something that defines us as human beings. But try that from the file, ```hot``` worked for me in WSL2 on Windows

[2022-11-28 16:15] warmwhisky commented on #28
When I tried editing hot on WSL2 it worked, but for only one page view. Any subsequent pages view its broke again.

What made me give up was when it happened on Linux too. I have two Windows 10 PCs and one Ubuntu machine and its doing it on all of them as of today.

[2022-11-29 03:05] HaneulChile commented on #161
same problem and the topic is closed

[2022-11-29 07:25] mt-u opened #177 "Type error TS2322(`resolvePageComponent` + `vite`'s `import.meta.glob`)"
- Laravel Vite Plugin Version: 0.6.1
- Laravel Version: 9.39.0
- Node Version: 16.17.0
- NPM Version: 8.19.1
- Host operating system: Ubuntu22.04(Laravel Sail 8.1) on Docker on Ubuntu20.04(WSL2)
- Web Browser & Version: no relation
- Running in Sail / Docker: Sail

### Description:

I consulted on Discord about an issue #161 I created earlier, and got [a reply saying it might be a bug](https://dis

[2022-11-29 08:19] mt-u commented on #177
In addition to treating `resolvePageComponent` as JavaScript, I also avoid the error in the following way.

[code]

[2022-11-29 08:28] mt-u commented on #161
@zynth666 @HaneulChile
I opened a new Issue.
See #177 if you like.

[2022-11-29 14:35] HaneulChile commented on #177
If I want to solve in react, what I need to use??

[2022-11-29 20:34] nurdism opened #178 "Allow hot file host to be configure"
My [PR](https://github.com/laravel/vite-plugin/pull/169) was closed, opening an issue to explain my issue further.

adding
[code]
does not resolve the host correctly. [resolveDevServerUrl](https://github.com/laravel/vite-plugin/blob/main/src/index.ts#L405) returns a hard coded `${protocol}://${host}:${port}`. It resolves to `https://[::]:8080` not `https://foo.test:8080`, but even then if I wanted

[2022-11-29 22:37] timacdonald commented on #178
@nurdism thanks for following up about this after I closed the PR.

I'm unable to replicate this on my local machine, so I might need some additional information for you about your setup.

For example, running the following script I get the expected contents in the hot file that I mentioned.

[code]

The output in my console...

<img width="469" alt="Screen Shot 2022-11-30 at 9 32 52 am" src="http

[2022-11-29 23:08] timacdonald commented on #177
Hi folks, this function is generic so you can specify whatever you need.

[code]

[2022-11-29 23:08] #177 closed

[2022-11-30 00:47] nurdism commented on #178
@timacdonald I'm actually getting an error from vite when I attempt to run your example
[code]

After looking at the [vite docs](https://vitejs.dev/config/server-options.html#server-host), the host option is supposed to resolve to an ip address:

not a domain, a better option to grab from would be [server.origin](https://vitejs.dev/config/server-options.html#server-origin)

[2022-11-30 01:06] nurdism commented on #178
Looking at the plugin again, I see you are [overriding the origin](https://github.com/laravel/vite-plugin/blob/main/src/index.ts#L135) and [transforming it later](https://github.com/laravel/vite-plugin/blob/main/src/index.ts#L177). I don't thing this is a very good approach and now the underlying software (vite) does not preform as intended. I'm going to experiment with this and see if I can come

[2022-11-30 01:25] mt-u commented on #177
@timacdonald Thank you for your reply.
As I also mentioned above, I see that your solution avoids type errors.
However, this method is not documented. If this method is Laravel's official solution, I think it would be useful for many people to mention it in the docs.

By the way, when I use `import.meta.globEager`, Typescript's type inference works and I don't get an error even if I don't explicit

[2022-11-30 03:54] mt-u commented on #177
@HaneulChile Hi.
In the `inertia-react` type definition, `options.resolve` passed to `createInertiaApp` is [described as follows](https://github.com/inertiajs/inertia/blob/inertia-react%400.8.1/packages/inertia-react/index.d.ts).
[code]
And the `PageResolver` is a `Promise` that returns a `ReactComponent` or a `ReactComponent` itself , which is also defined in `inertia-react`.
So if you use React,

[2022-11-30 04:14] timacdonald commented on #177
@mt-u both of these functions are generic, so you have complete control over them. Without testing, i  would assume that the following would work without issue...

[code]

[2022-11-30 05:53] mt-u commented on #177
@timacdonald Yes. You are completely right.
And I think it would be helpful for all users if your solution was featured in the Laravel docs.

Alternatively, I would be happy if the `resolvePageComponent` type definition was changed to work with Typescript's type inference, similar to the eager version of `import.meta.glob` (I mean `import.meta.globEager`, not `import.meta.glob('', { eager: true })

[2022-11-30 06:06] timacdonald commented on #178
@nurdism you should just switch `foo.test` with whatever IP / domain you want the server to listen on. `foo.test` works on my machine because I have it configured to work with `.test` domains.

That functionality you have linked to is the _essence_ of the Laravel plugin. Without it, the Laravel integration simply would not work across the boundaries that exists between the PHP process and the Node

[2022-11-30 06:06] #178 closed

[2022-11-30 06:11] timacdonald commented on #177
Laravel does not officially support Typescript, so we won't document that.

If you feel there is an improvement to be made, we would welcome a PR to improve the types.

[2022-11-30 21:58] HaneulChile commented on #177
Worked perfect!!!. Thanks so much.

[2022-11-30 23:38] da-mask commented on #28
@warmwhisky I have it working on WSL2 by adding `protocol: 'ws'` to the `hmr` config, I don't know why that works but 🤷 . So like :
[code]
    in combo with `npm run dev -- --host`.